<%= javascript_include_tag 'style' %>
<div class="row" style="background-color: #e8e8e8;">
  <div class="">
    <nav style="background-color: #640000">
      <div class="nav-wrapper">
        <a class="brand-logo right" style="padding-right: 20px"><%= @admin.firstname + " " + @admin.lastname %></a>
        <a href="#" data-activates="slide-out" class="button-collapse">
          <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </a>
      </div>
    </nav>
    
    <div class="col s12 m12 l9 right main-body">
      <div class="card-panel">
        <div class="row">
          <div class="col s14 m4 l4">
            <% if @admin.image_file_name.present? %>
              <%= image_tag @admin.image.url , class:"circle materialboxed" , style:"width:100%;height:100%" %>
            <% else %>
              <%= image_tag "avatar.jpg" , class:"circle materialboxed" , style:"width:100%" %>
            <% end %>
          </div>
          <div class="col s12 m8 l8">
            <% if @admin.middlename.blank? %>
              <p class="fullname"><%= @admin.firstname + " " + @admin.lastname %></p>
            <% else %>
              <p class="fullname"><%= @admin.firstname + " " + @admin.middlename + " " + @admin.lastname %></p>
            <% end %>
            <hr>
            <b>Username: </b><%= @admin.username %><br>
            <b>Email: </b><%= @admin.email %><br>
            <b>Registered as: </b><%= @admin.role %><br>
            <% @section.each do |section| %>
              <b>Senction handle: </b>Grade <%= section.yearlvl %> - <%= section.section %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col s12 ">
      <%= render 'partials/sidebar' %>
  </div>
</div>

<style type="text/css">
  .name {
    font-size: 30px;
  }
  .fullname {
    font-size: 30px;
  }
  .modal {
    width: 25%!important;
  }
</style>