<%= javascript_include_tag 'style' %>
<div class="row" style="background-color: #e8e8e8;">
  <div class="">
    <nav style="background-color: #640000">
      <div class="nav-wrapper">
        <a class="brand-logo right" style="padding-right: 20px">Dashboard</a>
        <a href="#" data-activates="slide-out" class="button-collapse">
          <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </a>
      </div>
    </nav>
    
    <div class="col s12 m12 l9 right main-body" style="margin-top: 40px;text-align: center">
      <div class="row">
        <div class="col s12 m4 l4">
          <div class="card  blue accent-4">
            <div class="card-content white-text">
              <h4 class="white-text">News</h4><hr>
              <p><%= @news.count %> news posted</p>
            </div>
            <div class="card-action">
              <%= link_to "view all" ,  news_index_path , class:"btn light-blue waves-effect waves-green" %>
            </div>
          </div>
        </div>
        <div class="col s12 m4 l4">
          <div class="card  blue accent-4">
            <div class="card-content white-text">
              <h4 class="white-text">Announcement</h4><hr>
              <p><%= @announcements.count %> announcement posted</p>
            </div>
            <div class="card-action">
              <%= link_to "view all" ,  announcements_path , class:"btn light-blue waves-effect waves-green" %>
            </div>
          </div>
        </div>
        <div class="col s12 m4 l4">
          <div class="card  blue accent-4">
            <div class="card-content white-text">
              <h4 class="white-text">Event</h4><hr>
              <p><%= @events.count %> event posted</p>
            </div>
            <div class="card-action">
              <%= link_to "view all" ,  events_path , class:"btn light-blue waves-effect waves-green" %>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col s12 m6 l6">
          <div class="card green">
            <div class="card-content white-text">
              <h4 class="white-text">Student</h4><hr>
              <p><%= @student.count %> registered student</p>
            </div>
            <div class="card-action">
              <%= link_to "view all" ,  admin_student_list_path , class:"btn green darken-4 waves-effect waves-green" %>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l6">
          <div class="card deep-purple lighten-2">
            <div class="card-content white-text">
              <h4 class="white-text">Faculty</h4><hr>
              <p><%= @administrators.count %> registered faculty members</p>
            </div>
            <div class="card-action">
              <%= link_to "view all" ,  events_path , class:"btn deep-purple darken-2 darken-4 waves-effect waves-green" %>
            </div>
          </div>
        </div>
        <hr>
        <div class="col s12" style="margin-top: 30px">
          <div class="card-panel white">
            <h4 class="black-text"><%= @sections.count %> class section</h4><hr>
            <table class="centered highlight responsive-table bordered">
              <thead>
                <tr>
                    <th>Year level</th>
                    <th>Registered sections</th>
                    <th>Enrolled students</th>
                    <th>Un-enrolled</th>
                    <th>Dropped Students</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Grade 7</td>
                  <td><%= @grade7.count %> sections</td>
                  <td class="green-text"><%= @student7.count %> students</td>
                  <td class="orange-text"><%= @Ustudent7.count %> students</td>
                  <td class="red-text"><%= @Dstudent7.count %> students</td>
                </tr>
                <tr>
                  <td>Grade 8</td>
                  <td><%= @grade8.count %> sections</td>
                  <td class="green-text"><%= @student8.count %> students</td>
                  <td class="orange-text"><%= @Ustudent8.count %> students</td>
                  <td class="red-text"><%= @Dstudent8.count %> students</td>
                </tr>
                <tr>
                  <td>Grade 9</td>
                  <td><%= @grade9.count %> sections</td>
                  <td class="green-text"><%= @student9.count %> students</td>
                  <td class="orange-text"><%= @Ustudent9.count %> students</td>
                  <td class="red-text"><%= @Dstudent9.count %> students</td>
                </tr>
                <tr>
                  <td>Grade 10</td>
                  <td><%= @grade10.count %> sections</td>
                  <td class="green-text"><%= @student10.count %> students</td>
                  <td class="orange-text"><%= @Ustudent10.count %> students</td>
                  <td class="red-text"><%= @Dstudent10.count %> students</td>
                </tr>
                <tr>
                  <td>Grade 11</td>
                  <td><%= @grade11.count %> sections</td>
                  <td class="green-text"><%= @student11.count %> students</td>
                  <td class="orange-text"><%= @Ustudent11.count %> students</td>
                  <td class="red-text"><%= @Dstudent11.count %> students</td>
                </tr>
                <tr>
                  <td>Grade 12</td>
                  <td><%= @grade12.count %> sections</td>
                  <td class="green-text"><%= @student12.count %> students</td>
                  <td class="orange-text"><%= @Ustudent12.count %> students</td>
                  <td class="red-text"><%= @Dstudent12.count %> students</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="col s12 ">
      <%= render 'partials/sidebar' %>
  </div>
</div>

<style type="text/css">
  .title {
    font-size: 30px;
  }

  .date {
    font-size: 30px;
  }

  td {
    background-color: white;
    border-right: 1px solid #cbcbcb;
    border-left: 1px solid #cbcbcb;  
  }

  .main-body {
    border:1px solid gray;
    margin: 5px 5px;
    padding: 10px 10px;
    border-radius: 5px;
  }
</style>