<%= javascript_include_tag 'style' %>
<div class="row" style="background-color: #e8e8e8">
  <div class="">
    <nav style="margin-bottom: 20px;background-color: #640000">
      <div class="nav-wrapper">
        <a class="brand-logo right" style="padding-right: 20px">Grade 9</a>
        <a href="#" data-activates="slide-out" class="button-collapse">
          <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </a>
      </div>
    </nav>

    <div class="fixed-action-btn horizontal click-to-toggle hide-on-small-only" style="bottom: 550px!important;">
      <a class="btn-floating btn-large orange waves-effect waves-light">
        <i class="material-icons">menu</i>
      </a>
      <ul>
        <li><a class="btn-floating amber darken-4" href="#sampaguita">sampaguita</a></li>
        <li><a class="btn-floating amber darken-3" href="#rose">rose</a></li>
        <li><a class="btn-floating amber darken-2" href="#gumamela">gumamela</a></li>
        <li><a class="btn-floating amber darken-1" href="#ilang-ilang">ilang-ilang</a></li>
        <li><a class="btn-floating amber darken-2" href="#daisy">daisy</a></li>
        <li><a class="btn-floating amber darken-3" href="#gladiola">gladiola</a></li>
        <li><a class="btn-floating amber darken-4" href="#catleya">catleya</a></li>
        <li><a class="btn-floating amber darken-3" href="#lirio">lirio</a></li>
        <li><a class="btn-floating amber darken-2" href="#magnolia">magnolia</a></li>
        <li><a class="btn-floating amber darken-1" href="#carnation">carnation</a></li>
        <li><a class="btn-floating amber darken-2" href="#lotus">lotus</a></li>
        <li><a class="btn-floating amber darken-3" href="#camia">camia</a></li>
      </ul>
    </div>

      <div class="col s12 m12 l9 right">
        <div class="student-list">
          <h4 class="center scrollspy" id="sampaguita">SAMPAGUITA</h4>
          <table class="striped responsive-table">
            <thead>
              <tr>
                  <th>LRN</th>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Email</th>
                  <th>Gender</th>
                  <th>Registered at</th>
              </tr>
            </thead>

            <tbody>
              <% if @students9A.empty? %>
                <tr>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                </tr>
              <% else %>
                <% @students9A.each do |student| %>
                  <tr>
                    <td><%= student.lrn %></td>
                    <td><%= link_to student.firstname, student_path(student.id) %></td>
                    <td><%= student.lastname %></td>
                    <td><%= student.email %></td>
                    <td><%= student.gender %></td>
                    <td><%= student.created_at.to_s(:short) %></td>
                  </tr>
                <% end %> 
              <% end %>  
            </tbody>
          </table>  
        </div>
        

        <div class="student-list">
          <h4 class="center scrollspy" id="rose">ROSE</h4>
          <table class="striped responsive-table">
            <thead>
              <tr>
                  <th>LRN</th>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Email</th>
                  <th>Gender</th>
                  <th>Registered at</th>
              </tr>
            </thead>

            <tbody>
              <% if @students9B.empty? %>
                <tr>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                </tr>
              <% else %>
                <% @students9B.each do |student| %>
                  <tr>
                    <td><%= student.lrn %></td>
                    <td><%= link_to student.firstname, student_path(student.id) %></td>
                    <td><%= student.lastname %></td>
                    <td><%= student.email %></td>
                    <td><%= student.gender %></td>
                    <td><%= student.created_at.to_s(:short) %></td>
                  </tr>
                <% end %> 
              <% end %>  
            </tbody>
          </table>  
        </div>

        <div class="student-list">
          <h4 class="center scrollspy" id="gumamela">GUMAMELA</h4>
          <table class="striped responsive-table">
            <thead>
              <tr>
                  <th>LRN</th>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Email</th>
                  <th>Gender</th>
                  <th>Registered at</th>
              </tr>
            </thead>

            <tbody>
              <% if @students9C.empty? %>
                <tr>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                </tr>
              <% else %>
                <% @students9C.each do |student| %>
                  <tr>
                    <td><%= student.lrn %></td>
                    <td><%= link_to student.firstname, student_path(student.id) %></td>
                    <td><%= student.lastname %></td>
                    <td><%= student.email %></td>
                    <td><%= student.gender %></td>
                    <td><%= student.created_at.to_s(:short) %></td>
                  </tr>
                <% end %> 
              <% end %>  
            </tbody>
          </table>  
        </div>

        <div class="student-list">
          <h4 class="center scrollspy" id="ilang-ilang">ILANG-ILANG</h4>
          <table class="striped responsive-table">
            <thead>
              <tr>
                  <th>LRN</th>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Email</th>
                  <th>Gender</th>
                  <th>Registered at</th>
              </tr>
            </thead>

            <tbody>
              <% if @students9D.empty? %>
                <tr>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                </tr>
              <% else %>
                <% @students9D.each do |student| %>
                  <tr>
                    <td><%= student.lrn %></td>
                    <td><%= link_to student.firstname, student_path(student.id) %></td>
                    <td><%= student.lastname %></td>
                    <td><%= student.email %></td>
                    <td><%= student.gender %></td>
                    <td><%= student.created_at.to_s(:short) %></td>
                  </tr>
                <% end %> 
              <% end %>  
            </tbody>
          </table>  
        </div>

        <div class="student-list">
          <h4 class="center scrollspy" id="daisy">DAISY</h4>
          <table class="striped responsive-table">
            <thead>
              <tr>
                  <th>LRN</th>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Email</th>
                  <th>Gender</th>
                  <th>Registered at</th>
              </tr>
            </thead>

            <tbody>
              <% if @students9E.empty? %>
                <tr>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                </tr>
              <% else %>
                <% @students9E.each do |student| %>
                  <tr>
                    <td><%= student.lrn %></td>
                    <td><%= link_to student.firstname, student_path(student.id) %></td>
                    <td><%= student.lastname %></td>
                    <td><%= student.email %></td>
                    <td><%= student.gender %></td>
                    <td><%= student.created_at.to_s(:short) %></td>
                  </tr>
                <% end %> 
              <% end %>  
            </tbody>
          </table>  
        </div>

        <div class="student-list">
          <h4 class="center scrollspy" id="gladiola">GLADIOLA</h4>
          <table class="striped responsive-table">
            <thead>
              <tr>
                  <th>LRN</th>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Email</th>
                  <th>Gender</th>
                  <th>Registered at</th>
              </tr>
            </thead>

            <tbody>
              <% if @students9F.empty? %>
                <tr>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                </tr>
              <% else %>
                <% @students9F.each do |student| %>
                  <tr>
                    <td><%= student.lrn %></td>
                    <td><%= link_to student.firstname, student_path(student.id) %></td>
                    <td><%= student.lastname %></td>
                    <td><%= student.email %></td>
                    <td><%= student.gender %></td>
                    <td><%= student.created_at.to_s(:short) %></td>
                  </tr>
                <% end %> 
              <% end %>  
            </tbody>
          </table>  
        </div>

        <div class="student-list">
          <h4 class="center catleya" id="catleya">CATLEYA</h4>
          <table class="striped responsive-table">
            <thead>
              <tr>
                  <th>LRN</th>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Email</th>
                  <th>Gender</th>
                  <th>Registered at</th>
              </tr>
            </thead>

            <tbody>
              <% if @students9G.empty? %>
                <tr>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                </tr>
              <% else %>
                <% @students9G.each do |student| %>
                  <tr>
                    <td><%= student.lrn %></td>
                    <td><%= link_to student.firstname, student_path(student.id) %></td>
                    <td><%= student.lastname %></td>
                    <td><%= student.email %></td>
                    <td><%= student.gender %></td>
                    <td><%= student.created_at.to_s(:short) %></td>
                  </tr>
                <% end %> 
              <% end %>  
            </tbody>
          </table>  
        </div>

        <div class="student-list">
          <h4 class="center scrollspy" id="lirio">LIRIO</h4>
          <table class="striped responsive-table">
            <thead>
              <tr>
                  <th>LRN</th>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Email</th>
                  <th>Gender</th>
                  <th>Registered at</th>
              </tr>
            </thead>

            <tbody>
              <% if @students9H.empty? %>
                <tr>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                </tr>
              <% else %>
                <% @students9H.each do |student| %>
                  <tr>
                    <td><%= student.lrn %></td>
                    <td><%= link_to student.firstname, student_path(student.id) %></td>
                    <td><%= student.lastname %></td>
                    <td><%= student.email %></td>
                    <td><%= student.gender %></td>
                    <td><%= student.created_at.to_s(:short) %></td>
                  </tr>
                <% end %> 
              <% end %>  
            </tbody>
          </table>  
        </div>

        <div class="student-list">
          <h4 class="center scrollspy" id="magnolia">MAGNOLIA</h4>
          <table class="striped responsive-table">
            <thead>
              <tr>
                  <th>LRN</th>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Email</th>
                  <th>Gender</th>
                  <th>Registered at</th>
              </tr>
            </thead>

            <tbody>
              <% if @students9I.empty? %>
                <tr>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                </tr>
              <% else %>
                <% @students9I.each do |student| %>
                  <tr>
                    <td><%= student.lrn %></td>
                    <td><%= link_to student.firstname, student_path(student.id) %></td>
                    <td><%= student.lastname %></td>
                    <td><%= student.email %></td>
                    <td><%= student.gender %></td>
                    <td><%= student.created_at.to_s(:short) %></td>
                  </tr>
                <% end %> 
              <% end %>  
            </tbody>
          </table>  
        </div>

        <div class="student-list">
          <h4 class="center scrollspy" id="carnation">CARNATION</h4>
          <table class="striped responsive-table">
            <thead>
              <tr>
                  <th>LRN</th>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Email</th>
                  <th>Gender</th>
                  <th>Registered at</th>
              </tr>
            </thead>

            <tbody>
              <% if @students9J.empty? %>
                <tr>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                </tr>
              <% else %>
                <% @students9J.each do |student| %>
                  <tr>
                    <td><%= student.lrn %></td>
                    <td><%= link_to student.firstname, student_path(student.id) %></td>
                    <td><%= student.lastname %></td>
                    <td><%= student.email %></td>
                    <td><%= student.gender %></td>
                    <td><%= student.created_at.to_s(:short) %></td>
                  </tr>
                <% end %> 
              <% end %>  
            </tbody>
          </table>  
        </div>

        <div class="student-list">
          <h4 class="center scrollspy" id="lotus">LOTUS</h4>
          <table class="striped responsive-table">
            <thead>
              <tr>
                  <th>LRN</th>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Email</th>
                  <th>Gender</th>
                  <th>Registered at</th>
              </tr>
            </thead>

            <tbody>
              <% if @students9K.empty? %>
                <tr>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                </tr>
              <% else %>
                <% @students9K.each do |student| %>
                  <tr>
                    <td><%= student.lrn %></td>
                    <td><%= link_to student.firstname, student_path(student.id) %></td>
                    <td><%= student.lastname %></td>
                    <td><%= student.email %></td>
                    <td><%= student.gender %></td>
                    <td><%= student.created_at.to_s(:short) %></td>
                  </tr>
                <% end %> 
              <% end %>  
            </tbody>
          </table>  
        </div>

        <div class="student-list">
          <h4 class="center scrollspy" id="camia">CAMIA</h4>
          <table class="striped responsive-table">
            <thead>
              <tr>
                  <th>LRN</th>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Email</th>
                  <th>Gender</th>
                  <th>Registered at</th>
              </tr>
            </thead>

            <tbody>
              <% if @students9L.empty? %>
                <tr>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                  <td>No data yet</td>
                </tr>
              <% else %>
                <% @students9L.each do |student| %>
                  <tr>
                    <td><%= student.lrn %></td>
                    <td><%= link_to student.firstname, student_path(student.id) %></td>
                    <td><%= student.lastname %></td>
                    <td><%= student.email %></td>
                    <td><%= student.gender %></td>
                    <td><%= student.created_at.to_s(:short) %></td>
                  </tr>
                <% end %> 
              <% end %>  
            </tbody>
          </table>  
        </div>

      </div>

  </div>
  <div class="col s12 ">
      <%= render 'partials/sidebar' %>
  </div>
</div>
  
<style type="text/css">
  body {
    background-color: #e8e8e8;
  }
  .modal.bottom-sheet {
    max-height: 100%!important;
  }

  .modal .modal-footer {
    height: 80px!important;
  }

  .collapsible-body {
    padding: 3.5px!important;
  }

  .student-list {
    border:1px solid #9e9e9e;
    padding:20px;
    border-radius: 20px;
    margin-top: 20px;
  }

</style>
