<%= javascript_include_tag 'style' %>
<div class="row" style="background-color: #e8e8e8;">
  <div class="">
    <nav style="background-color: #640000">
      <div class="nav-wrapper">
        <a class="brand-logo right" style="padding-right: 20px">My class</a>
        <a href="#" data-activates="slide-out" class="button-collapse">
          <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </a>
      </div>
    </nav>
    
    <div class="row">
      <div class="col s12 m12 l9 right">
      	<div style="margin-top: 30px">
          <% if @sections.blank? %>
            <h3 class="center">No section assigned yet</h3>
          <% else %>
            <% @sections.each do |section| %>
              <h3><%= section.section %> - Grade <%= section.yearlvl %></h3><hr> 
              <div class="tabs-ko">
                <table class="highlight centered bordered">
                  <thead>
                    <tr>
                      <th>LRN</th>
                      <th>Lastname</th>
                      <th>Firstname</th>
                      <th>Middlename</th>
                      <th>Section</th>
                      <th>Year level</th>
                      <th>Contact</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @students.each do |student| %>
                      <tr>
                        <td><%= link_to student.lrn , student_path(student.id) %></td>
                        <td><%= link_to student.lastname, student_path(student.id) %></td>
                        <td><%= student.firstname %></td>
                        <% if student.phone_number.blank? %>
                          <td class="red-text">no middlename provided</td>
                        <% else %>
                          <td><%= student.middlename %></td>
                        <% end %>
                        <td><%= student.section %></td>
                        <td>Grade <%= student.level %></td>
                        <% if student.phone_number.blank? %>
                          <td class="red-text">no contact provided</td>
                        <% else %>
                          <td><%= student.phone_number %></td>
                        <% end %>
                      </tr>
                    <% end %> <!-- @students.each -->
                  </tbody>
                </table>
              </div>
            <% end %> <!-- @sections.each -->
          <% end %>
        </div>
      </div>
    </div>

  </div>
  <div class="col s12 ">
      <%= render 'partials/sidebar' %>
  </div>
</div>

<style type="text/css">
  td {
    background-color: #e3e3e3;
    border-right: 1px solid #cbcbcb;
    border-left: 1px solid #cbcbcb;  
  }
  .tabs {
    background-color: #640000;
    border-radius: 10px 10px 0px 0px;
    color: white!important;
  }

  .tabs-ko {
    padding: 5px 5px;
    border: 1px solid gray;
    margin-top: 10px;
    border-radius: 10px 10px 0px 0px;
  }

  .title {
  font-size: 30px;
}

.date {
  font-size: 30px;
}
</style>