<div class="row" style="background-color: #e8e8e8;">
  <div class="">
    <nav style="background-color: #640000">
      <div class="nav-wrapper">
        <a class="brand-logo right" style="padding-right: 20px">Grades</a>
        <a href="#" data-activates="slide-out" class="button-collapse">
          <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </a>
      </div>
    </nav>
    
    <div class="row">
      <div class="col s12 m12 l9 right" style="padding-bottom: 50px">
        <h3 class="green-text"><%= notice %></h3>
        <div class="row" style="margin-top: 30px">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3"><a href="#test1" class="white-text">1st Grading</a></li>
              <li class="tab col s3"><a href="#test2">2nd Grading</a></li>
              <li class="tab col s3"><a href="#test3">3rd Grading</a></li>
              <li class="tab col s3"><a href="#test4">4th Grading</a></li>
            </ul>
          </div>
          <div id="test1" class="col s12 tabs-ko" style="padding: 5px 5px">
            <h3 class="center">1st Grading</h3><hr>
            <%= render 'quarter_partials/firstgrading' %>
          </div>
          <div id="test2" class="col s12 tabs-ko" style="padding: 5px 5px">
            <h3 class="center">2nd Grading</h3><hr>
            <%= render 'quarter_partials/secondgrading' %>
          </div>
          <div id="test3" class="col s12 tabs-ko" style="padding: 5px 5px">
            <h3 class="center">3rd Grading</h3><hr>
            <%= render 'quarter_partials/thirdgrading' %>
          </div>
          <div id="test4" class="col s12 tabs-ko" style="padding: 5px 5px">
            <h3 class="center">4th Grading</h3><hr>
            <%= render 'quarter_partials/fourthgrading' %>
          </div>
        </div><!-- row -->

      </div><!-- col s12 m12 l9 -->
    </div><!-- row -->

  </div>
  <div class="col s12 ">
      <%= render 'partials/sidebar' %>
  </div>
</div>

<%= javascript_include_tag 'style' %>
<script>
  $(document).ready(function() {
    $('#btn-close').on('click', function() {
      <% if @subjects.blank? %>
       /*some codes here*/
      <% else %>
        <% @subjects.each do |subject| %>
          $('#grade-int<%= subject.id %>').val('');
        <% end %>
      <% end %>
    });
  });
</script>

<style type="text/css">
  td {
    background-color: white;
    border-right: 1px solid #cbcbcb;
    border-left: 1px solid #cbcbcb;  
  }

  .tabs {
    background-color: #640000;
    border-radius: 10px 10px 0px 0px;
  }

  .tabs-ko {
    border: 1px solid gray;
    margin-top: 10px;
    border-radius: 10px 10px 0px 0px;
  }
  .title {
  font-size: 30px;
  }

  .date {
    font-size: 30px;
  }
</style>