<%= javascript_include_tag 'style' %>
<div class="row" style="background-color: #e8e8e8">
  <div class="">
    <nav style="margin-bottom: 20px;background-color: #640000">
      <div class="nav-wrapper">
        <a class="brand-logo right" style="padding-right: 20px">Profile</a>
        <a href="#" data-activates="slide-out" class="button-collapse">
          <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </a>
      </div>
    </nav>
     
  <div class="row" style="padding-top: 20px">
    <div class="col s12 m12 l9 right">
      <% @admin.each do |admin| %>
        <% if current_administrator.role == "registrar" %>

          <div class="card-panel">
            <div class="row">
              <div class="col s12 m2 l2">
                <% if admin.image_file_name.present? %>
                  <%= image_tag admin.image.url , class:"circle materialboxed" , style:"width:100%;height:100%" %><hr>
                  <center><a href="#removePhoto" class="modal-trigger">Remove photo</a></center>

                  <div id="removePhoto" class="modal">

                    <div class="modal-content" id="modal-change">
                      <center>
                        <h4>Are you sure?</h4>
                        <%= link_to "YES" , removeProfileImage_path , method: :patch , class:"btn waves-effect waves-light green" , id:"removePhotoButton" %>
                        <button class="btn red waves-effect waves-light modal-close">NO</button>
                      </center>
                    </div>
                    <div class="progress" id="removePhotoLoader">
                      <div class="indeterminate"></div>
                    </div>
                  </div>

                  <script>
                    $(document).ready(function() {
                      $('#removePhotoLoader').hide();
                      $('#removePhotoButton').on('click' , function() {
                        $('#removePhotoLoader').slideDown(500);
                      });
                    });
                  </script>

                <% else %>
                  <%= image_tag "avatar.jpg" , class:"circle materialboxed" , style:"width:100%" %>
                <% end %>
              </div>
              <div class="col s12 m10 l10">
                <% if admin.middlename.blank? %>
                  <p class="fullname"><%= admin.firstname + " " + admin.lastname %></p>
                <% else %>
                  <p class="fullname"><%= admin.firstname + " " + admin.middlename + " " + admin.lastname %></p>
                <% end %>
                <hr>
                <b>Username: </b><%= admin.username %><br>
                <b>Email: </b><%= admin.email %><br>
                <b>Registered as: </b><%= admin.role %><br>
                <% @section.each do |section| %>
                  <b>Senction handle: </b>Grade <%= section.yearlvl %> - <%= section.section %>
                <% end %>
              </div>
            </div>
          </div>
          <center><h4 class="green-text"><%= notice %></h4></center>
          <ul class="collection">
            <li class="collection-item avatar">
              <i class="material-icons circle blue">settings</i>
              <span class="title"><b>Account Settings</b></span>
              <p>Go to your account settings</p>

              <%= link_to edit_administrator_registration_path , class:"secondary-content" do %>
                <i class="material-icons blue-text">send</i>
              <% end %>

            </li>
            <li class="collection-item avatar">
              <i class="material-icons circle orange">person</i>
              <span class="title"><b>Reset enrolled students</b></span>
              <p>Reseting enrolled students will put all enrolled student to Un-enrolled list.</p>

              <div class="preloader-wrapper small active secondary-content" id="loader-1">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>

              <div id="modal1" class="modal">
                <div class="modal-content">
                  <center>
                    <h4>Are you sure?</h4>
                    <%= link_to "YES" , 
                    reset_status_path , 
                    method: :patch , 
                    class:"btn green modal-close waves-effect waves-light" ,
                    id:"btn-yes-reset-enrolled" %>
                    <button class="btn red modal-close waves-effect waves-light">NO</button>
                  </center>
                </div>
              </div>

              <a href="#modal1" class="secondary-content modal-trigger" id="btn-1"><i class="material-icons orange-text">send</i></a>
            </li>

            <li class="collection-item avatar">
              <i class="material-icons circle green">person</i>
              <span class="title"><b>Reset section advisers</b></span>
              <p>Reseting section adviser will remove all assigned advisers in partcular sections.</p>

              <div class="preloader-wrapper small active secondary-content" id="loader-2">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>

              <div id="modal2" class="modal">
                <div class="modal-content">
                  <center>
                    <h4>Are you sure?</h4>
                    <%= link_to "YES" , 
                    reset_section_path,
                    method: :patch,
                    class:"btn green modal-close waves-effect waves-light" ,
                    id:"btn-yes-reset-section"  %>
                    <button class="btn red modal-close waves-effect waves-light">NO</button>
                  </center>
                </div>
              </div>

              <a href="#modal2" class="secondary-content modal-trigger" id="btn-2"><i class="material-icons green-text">send</i></a>
            </li>

            <li class="collection-item avatar">
              <i class="material-icons circle red">send</i>
              <span class="title"><b>Reset student grades</b></span>
              <p>Reseting students grades will reset all grades of all enrolled student in current school year.</p>

              <div class="preloader-wrapper small active secondary-content" id="loader-3">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>

              <div id="modal3" class="modal">
                <div class="modal-content">
                  <center>
                    <h4>Are you sure?</h4>
                    <button class="btn green modal-close waves-effect waves-light" id="btn-yes-reset-grades">YES</button>
                    <button class="btn red modal-close waves-effect waves-light">NO</button>
                  </center>
                </div>
              </div>

              <a href="#modal3" class="secondary-content modal-trigger" id="btn-3"><i class="material-icons red-text">send</i></a>
            </li>
          </ul>

        <% else %>

          <div class="card-panel">
            <div class="row">
              <div class="col s12 m4 l4">
                <% if admin.image_file_name.present? %>
                  <%= image_tag admin.image.url , class:"circle materialboxed" , style:"width:100%;height:100%" %>
                <% else %>
                  <%= image_tag "avatar.jpg" , class:"circle materialboxed" , style:"width:100%" %>
                <% end %>
              </div>
              <div class="col s12 m8 l8">
                <% if admin.middlename.blank? %>
                  <p class="fullname"><%= admin.firstname + " " + admin.lastname %>
                    <%= link_to edit_administrator_registration_path , 
                      class: 'tooltipped green-text' ,
                      'data-delay' => '50' ,
                      'data-tooltip' => 'Edit account' , 
                      'data-position' => 'top' do %>
                      <i class="material-icons">create</i>
                    <% end %>
                  </p>
                <% else %>
                  <p class="fullname"><%= admin.firstname + " " + admin.middlename + " " + admin.lastname %> 
                    <%= link_to edit_administrator_registration_path , 
                      class: 'tooltipped green-text' ,
                      'data-delay' => '50' ,
                      'data-tooltip' => 'Edit account' , 
                      'data-position' => 'top' do %>
                      <i class="material-icons">create</i>
                    <% end %>
                <% end %>
                <ul>
                  <li><b>Username: </b><%= admin.username %></li>
                  <li><b>Email: </b><%= admin.email %></li>
                  <li><b>Registered as: </b><%= admin.role %></li>
                  <li><b>Advisory availability: </b><%= admin.available %> for advisory class</li>
                  <li>
                    <% @section.each do |section| %>
                      <b>Senction handle: </b>Grade <%= section.yearlvl %> - <%= section.section %>
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <center><h4 class="green-text"><%= notice %></h4></center>

        <% end %>

      <% end %>
    </div><!-- row -->
  </div>

  <div class="col s12 ">
    <%= render 'partials/sidebar' %>
  </div>
</div>
  

<style type="text/css">
  .name {
    font-size: 30px;
  }
  .fullname {
    font-size: 30px;
  }
  .modal {
    width: 25%!important;
  }
</style>

<script>
  $(document).ready(function() {
    $('#loader-1').hide();
    $('#loader-2').hide();
    $('#loader-3').hide();

    $('#btn-yes-reset-enrolled').on('click' , function() {
      $('#loader-1').fadeIn();
      $('#btn-1').hide();
    });

    $('#btn-yes-reset-section').on('click' , function() {
      $('#loader-2').fadeIn();
      $('#btn-2').hide();
    });

    $('#btn-yes-reset-grades').on('click' , function() {
      $('#loader-3').fadeIn();
      $('#btn-3').hide();
    });

  });
</script>

