<%= javascript_include_tag 'style' %>
<div class="row">
    <nav style="background-color: #640000">
      <div class="nav-wrapper">
        <a class="brand-logo right" style="padding-right: 20px">Student list</a>
        <a href="#" data-activates="slide-out" class="button-collapse">
          <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </a>
      </div>
    </nav>

    <div class="row" style="margin-top: 50px;">
      <div class="col s12 m12 l9 right">
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Search student</a>
        <div id="modal1" class="modal">
          <%= form_tag search_student_path , :method => 'get' do %>
            <div class="modal-content">
              <h4 style="padding-bottom: 50px">Search student</h4>
              <div class="input-field">
                <i class="material-icons prefix">create</i>
                <label class="active">Enter student LRN</label>
                <%= text_field_tag :search , params[:search] , autofocus: :true %>
              </div>
            </div>
            <div class="modal-footer">
              <%= submit_tag "Search" , class:"left btn btn-flat green waves-effect waves-blue white-text" %>
              <a class="modal-action modal-close waves-effect waves-yellow btn-flat red white-text">close</a>
            </div>
          <% end %>  
        </div>
        <hr>

        <div class="row">
          <div class="col s12">
            <ul class="tabs tabs-fixed-width">
              <li class="tab col s3"><a href="#test1">Grade 7</a></li>
              <li class="tab col s3"><a href="#test2">Grade 8</a></li>
              <li class="tab col s3"><a href="#test3">Grade 9</a></li>
              <li class="tab col s3"><a href="#test4">Grade 10</a></li>
              <li class="tab col s3"><a href="#test5">Grade 11</a></li>
              <li class="tab col s3"><a href="#test6">Grade 12</a></li>
            </ul>
          </div>

          <div id="test1" class="col s12 tabs-ko">
            <table class="bordered highlight responsive-table centered">
              <thead>
                <tr>
                  <th>Edit</th>
                  <th>LRN</th>
                  <th>Lastname</th>
                  <th>Firstname</th>
                  <th>Middlename</th>
                  <th>Section</th>
                  <th>Gender</th>
                  <th>Contact</th>
                </tr>
              </thead>

              <tbody>
                <% if @student7.blank? %>
                  <tr>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                  </tr>
                <% else %>
                  <% @student7.each do |student| %>
                    <tr>
                      <td>
                        <a target="_blank" href="/admin/students/<%= student.lrn %>/edit">
                          <i class="material-icons green-text">create</i>
                        </a>
                      </td>
                      <td>
                        <a target="_blank" href="/admin/students/<%= student.lrn %>"><%= student.lrn %></a>
                      </td>
                      <td><a target="_blank" href="/admin/students/<%= student.lrn %>"><%= student.lastname %></a></td>
                      <td><a target="_blank" href="/admin/students/<%= student.lrn %>"><%= student.firstname %></a></td>
                        <% if student.middlename.blank? %>
                          <td class="red-text">No middlename provided</td>
                        <% else %>
                          <td><a target="_blank" href="/admin/students/<%= student.lrn %>"><%= student.middlename %></a></td>
                        <% end %>
                      <td><%= student.section %></td>
                      <td><%= student.gender %></td>
                        <% if student.phone_number.blank? %>
                          <td class="red-text">No contact provided</td>
                        <% else %>
                          <td><%= student.phone_number %></td>
                        <% end %>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
          <!-- GRADE 7 -->
          <div id="test2" class="col s12 tabs-ko">
            <table class="bordered highlight responsive-table centered">
              <thead>
                <tr>
                  <th>Edit</th>
                  <th>LRN</th>
                  <th>Lastname</th>
                  <th>Firstname</th>
                  <th>Middlename</th>
                  <th>Section</th>
                  <th>Gender</th>
                  <th>Contact</th>
                </tr>
              </thead>

              <tbody>
                <% if @student8.blank? %>
                  <tr>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                  </tr>
                <% else %>
                  <% @student8.each do |student| %>
                    <tr>
                      <td>
                        <a target="_blank" href="/admin/students/<%= student.lrn %>/edit">
                          <i class="material-icons green-text">create</i>
                        </a>
                      </td>
                      <td>
                        <a target="_blank" href="/admin/students/<%= student.lrn %>"><%= student.lrn %></a>
                      </td>
                      <td><a target="_blank" href="/admin/students/<%= student.lrn %>"><%= student.lastname %></a></td>
                      <td><a target="_blank" href="/admin/students/<%= student.lrn %>"><%= student.firstname %></a></td>
                        <% if student.middlename.blank? %>
                          <td class="red-text">No middlename provided</td>
                        <% else %>
                          <td><a target="_blank" href="/admin/students/<%= student.lrn %>"><%= student.middlename %></a></td>
                        <% end %>
                      <td><%= student.section %></td>
                      <td><%= student.gender %></td>
                        <% if student.phone_number.blank? %>
                          <td class="red-text">No contact provided</td>
                        <% else %>
                          <td><%= student.phone_number %></td>
                        <% end %>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
          <div id="test3" class="col s12 tabs-ko">
            <table class="bordered highlight responsive-table centered">
              <thead>
                <tr>
                  <th>Edit</th>
                  <th>LRN</th>
                  <th>Lastname</th>
                  <th>Firstname</th>
                  <th>Middlename</th>
                  <th>Section</th>
                  <th>Gender</th>
                  <th>Contact</th>
                </tr>
              </thead>

              <tbody>
                <% if @student9.blank? %>
                  <tr>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                  </tr>
                <% else %>
                  <% @student9.each do |student| %>
                    <tr>
                      <td>
                        <a target="_blank" href="/admin/students/<%= student.lrn %>/edit">
                          <i class="material-icons green-text">create</i>
                        </a>
                      </td>
                      <td>
                        <a target="_blank" href="/admin/students/<%= student.lrn %>"><%= student.lrn %></a>
                      </td>
                      <td><a target="_blank" href="/admin/students/<%= student.lrn %>"><%= student.lastname %></a></td>
                      <td><a target="_blank" href="/admin/students/<%= student.lrn %>"><%= student.firstname %></a></td>
                        <% if student.middlename.blank? %>
                          <td class="red-text">No middlename provided</td>
                        <% else %>
                          <td><a target="_blank" href="/admin/students/<%= student.lrn %>"><%= student.middlename %></a></td>
                        <% end %>
                      <td><%= student.section %></td>
                      <td><%= student.gender %></td>
                        <% if student.phone_number.blank? %>
                          <td class="red-text">No contact provided</td>
                        <% else %>
                          <td><%= student.phone_number %></td>
                        <% end %>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
          <div id="test4" class="col s12 tabs-ko">
            <table class="bordered highlight responsive-table centered">
              <thead>
                <tr>
                  <th>Edit</th>
                  <th>LRN</th>
                  <th>Lastname</th>
                  <th>Firstname</th>
                  <th>Middlename</th>
                  <th>Section</th>
                  <th>Gender</th>
                  <th>Contact</th>
                </tr>
              </thead>

              <tbody>
                <% if @student10.blank? %>
                  <tr>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                  </tr>
                <% else %>
                  <% @student10.each do |student| %>
                    <tr>
                      <td>
                        <a target="_blank" href="/admin/students/<%= student.lrn %>/edit">
                          <i class="material-icons green-text">create</i>
                        </a>
                      </td>
                      <td>
                        <a target="_blank" href="/admin/students/<%= student.lrn %>"><%= student.lrn %></a>
                      </td>
                      <td><a target="_blank" href="/admin/students/<%= student.lrn %>"><%= student.lastname %></a></td>
                      <td><a target="_blank" href="/admin/students/<%= student.lrn %>"><%= student.firstname %></a></td>
                        <% if student.middlename.blank? %>
                          <td class="red-text">No middlename provided</td>
                        <% else %>
                          <td><a target="_blank" href="/admin/students/<%= student.lrn %>"><%= student.middlename %></a></td>
                        <% end %>
                      <td><%= student.section %></td>
                      <td><%= student.gender %></td>
                        <% if student.phone_number.blank? %>
                          <td class="red-text">No contact provided</td>
                        <% else %>
                          <td><%= student.phone_number %></td>
                        <% end %>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
          <div id="test5" class="col s12 tabs-ko">
            <table class="bordered highlight responsive-table centered">
              <thead>
                <tr>
                  <th>Edit</th>
                  <th>LRN</th>
                  <th>Lastname</th>
                  <th>Firstname</th>
                  <th>Middlename</th>
                  <th>Section</th>
                  <th>Gender</th>
                  <th>Contact</th>
                </tr>
              </thead>

              <tbody>
                <% if @student11.blank? %>
                  <tr>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                  </tr>
                <% else %>
                  <% @student11.each do |student| %>
                    <tr>
                      <td>
                        <a target="_blank" href="/admin/students/<%= student.lrn %>/edit">
                          <i class="material-icons green-text">create</i>
                        </a>
                      </td>
                      <td>
                        <a target="_blank" href="/admin/students/<%= student.lrn %>"><%= student.lrn %></a>
                      </td>
                      <td><a target="_blank" href="/admin/students/<%= student.lrn %>"><%= student.lastname %></a></td>
                      <td><a target="_blank" href="/admin/students/<%= student.lrn %>"><%= student.firstname %></a></td>
                        <% if student.middlename.blank? %>
                          <td class="red-text">No middlename provided</td>
                        <% else %>
                          <td><a target="_blank" href="/admin/students/<%= student.lrn %>"><%= student.middlename %></a></td>
                        <% end %>
                      <td><%= student.section %></td>
                      <td><%= student.gender %></td>
                        <% if student.phone_number.blank? %>
                          <td class="red-text">No contact provided</td>
                        <% else %>
                          <td><%= student.phone_number %></td>
                        <% end %>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
          <div id="test6" class="col s12 tabs-ko">
            <table class="bordered highlight responsive-table centered">
              <thead>
                <tr>
                  <th>Edit</th>
                  <th>LRN</th>
                  <th>Lastname</th>
                  <th>Firstname</th>
                  <th>Middlename</th>
                  <th>Section</th>
                  <th>Gender</th>
                  <th>Contact</th>
                </tr>
              </thead>

              <tbody>
                <% if @student12.blank? %>
                  <tr>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                    <td>No data yet</td>
                  </tr>
                <% else %>
                  <% @student12.each do |student| %>
                    <tr>
                      <td>
                        <a target="_blank" href="/admin/students/<%= student.lrn %>/edit">
                          <i class="material-icons green-text">create</i>
                        </a>
                      </td>
                      <td>
                        <a target="_blank" href="/admin/students/<%= student.lrn %>"><%= student.lrn %></a>
                      </td>
                      <td><a target="_blank" href="/admin/students/<%= student.lrn %>"><%= student.lastname %></a></td>
                      <td><a target="_blank" href="/admin/students/<%= student.lrn %>"><%= student.firstname %></a></td>
                        <% if student.middlename.blank? %>
                          <td class="red-text">No middlename provided</td>
                        <% else %>
                          <td><a target="_blank" href="/admin/students/<%= student.lrn %>"><%= student.middlename %></a></td>
                        <% end %>
                      <td><%= student.section %></td>
                      <td><%= student.gender %></td>
                        <% if student.phone_number.blank? %>
                          <td class="red-text">No contact provided</td>
                        <% else %>
                          <td><%= student.phone_number %></td>
                        <% end %>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div><!-- row -->
      </div>
    </div>

  <div class="col s12 ">
      <%= render 'partials/sidebar' %>
  </div>
</div>
  
<style type="text/css">
  body {
    background-color: #e8e8e8;
  }
  td {
    background-color: #e3e3e3;
    border-right: 1px solid #cbcbcb;
    border-left: 1px solid #cbcbcb;  
  } 
  .tabs {
    background-color: #640000;
    border-radius: 10px 10px 0px 0px;
  }
  .tabs .tab a{
    color: white!important;
  }

  .tabs-ko {
    padding-bottom: 10px!important;
    border: 1px solid gray;
    margin-top: 10px;
    border-radius: 10px 10px 0px 0px;
  }
  .modal.bottom-sheet {
    max-height: 100%!important;
  }

  .modal .modal-footer {
    height: 80px!important;
  }

  .collapsible-body {
    padding: 3.5px!important;
  }
</style>