<%= javascript_include_tag 'style' %>
<div class="row">
    <nav style="background-color: #640000">
      <div class="nav-wrapper">
        <a class="brand-logo right" style="padding-right: 20px">Student list</a>
        <a href="#" data-activates="slide-out" class="button-collapse">
          <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </a>
      </div>
    </nav>

    <div class="row" style="margin-top: 50px;">
      <div class="col s12 m12 l9 right">
        <script>
          function getSearchData(data) {
            $('#preloader').remove();
            $('#student-search').append(`
              <div class="progress" id="preloader">
                <div class="indeterminate"></div>
              </div>
            `);
            $('#student-data').remove();
            $.ajax({
              type: 'GET',
              url: '/students/students_json/'+ data
            }).done(function(response) {
              $('#preloader').remove();
              for(var x in response) {
                  if (response[x].lrn == undefined) {
                    $('#student-data').remove();
                  } else {
                    $('#student-data').remove();
                    $('#student-search').append(`
                      <li class="collection-item avatar" id="student-data">
                        <%= image_tag "avatar.jpg" , class:"circle" %>
                        <b><span class="title">`+ response[x].firstname + " " + response[x].lastname + `</span></b>
                        <p> Section `+ response[x].section +` | Grade `+ response[x].level +` | Status: `+ response[x].status +`</p>
                        <a target="_blank" href="/admin/students/`+ response[x].lrn +`" class="secondary-content"><i class="material-icons">send</i></a>
                      </li>
                    `); 
                    $('#student-data').hide().fadeIn();
                  }
              }
            });
          }
        </script>
        <h4>Search student</h4>
        <div class="input-field">
          <label for="search-box">Enter Student LRN/Firstname/Lastname</label>
          <input type="text" name="" id="search-box" oninput="getSearchData($(this).val())">
        </div>
  
        <ul class="collection" id="student-search"></ul>

        <div class="row">
          <div class="col s12">
            <ul class="tabs tabs-fixed-width">
              <li class="tab col s3"><a href="#test1">Grade 7</a></li>
              <li class="tab col s3"><a href="#test2">Grade 8</a></li>
              <li class="tab col s3"><a href="#test3">Grade 9</a></li>
              <li class="tab col s3"><a href="#test4">Grade 10</a></li>
              <li class="tab col s3"><a href="#test5">Grade 11</a></li>
              <li class="tab col s3"><a href="#test6">Grade 12</a></li>
            </ul>
          </div>

          <div id="test1" class="col s12 tabs-ko">
            <table class="striped centered bordered">
              <thead>
                <tr>
                  <th>Sections</th>
                  <th>Section Adviser</th>
                  <th>View students</th>
                </tr>
              </thead>
              <tbody>
                <% @section7.each do |section| %>
                  <tr>
                    <td><%= section.section %></td>
                    <% if section.adviser.blank? %>
                       <td><p class="red-text">No adviser assigned</p></td>
                    <% else %>
                      <td><%= section.adviser %></td>
                    <% end %>  
                    <td>
                      <%= link_to student_list_section_path(section.section), class: "green-text" do %>
                        <i class="material-icons">send</i>
                      <% end %>
                      </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div id="test2" class="col s12 tabs-ko">
            <table class="striped centered bordered">
              <thead>
                <tr>
                  <th>Sections</th>
                  <th>Section Adviser</th>
                  <th>View students</th>
                </tr>
              </thead>
              <tbody>
                <% @section8.each do |section| %>
                  <tr>
                    <td><%= section.section %></td>
                    <% if section.adviser.blank? %>
                       <td><p class="red-text">No adviser assigned</p></td>
                    <% else %>
                      <td><%= section.adviser %></td>
                    <% end %>  
                    <td>
                      <%= link_to student_list_section_path(section.section) , class: "green-text" do %>
                        <i class="material-icons">send</i>
                      <% end %>
                      </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div id="test3" class="col s12 tabs-ko">
            <table class="striped centered bordered">
              <thead>
                <tr>
                  <th>Sections</th>
                  <th>Section Adviser</th>
                  <th>View students</th>
                </tr>
              </thead>
              <tbody>
                <% @section9.each do |section| %>
                  <tr>
                    <td><%= section.section %></td>
                    <% if section.adviser.blank? %>
                       <td><p class="red-text">No adviser assigned</p></td>
                    <% else %>
                      <td><%= section.adviser %></td>
                    <% end %>  
                    <td>
                      <%= link_to student_list_section_path(section.section) , class: "green-text" do %>
                        <i class="material-icons">send</i>
                      <% end %>
                      </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div id="test4" class="col s12 tabs-ko">
            <table class="striped centered bordered">
              <thead>
                <tr>
                  <th>Sections</th>
                  <th>Section Adviser</th>
                  <th>View students</th>
                </tr>
              </thead>
              <tbody>
                <% @section10.each do |section| %>
                  <tr>
                    <td><%= section.section %></td>
                    <% if section.adviser.blank? %>
                       <td><p class="red-text">No adviser assigned</p></td>
                    <% else %>
                      <td><%= section.adviser %></td>
                    <% end %>  
                    <td>
                      <%= link_to student_list_section_path(section.section) , class: "green-text" do %>
                        <i class="material-icons">send</i>
                      <% end %>
                      </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div id="test5" class="col s12 tabs-ko">
            <table class="striped centered bordered">
              <thead>
                <tr>
                  <th>Sections</th>
                  <th>Section Adviser</th>
                  <th>View students</th>
                </tr>
              </thead>
              <tbody>
                <% @section11.each do |section| %>
                  <tr>
                    <td><%= section.section %></td>
                    <% if section.adviser.blank? %>
                       <td><p class="red-text">No adviser assigned</p></td>
                    <% else %>
                      <td><%= section.adviser %></td>
                    <% end %>  
                    <td>
                      <%= link_to student_list_section_path(section.section) , class: "green-text" do %>
                        <i class="material-icons">send</i>
                      <% end %>
                      </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div id="test6" class="col s12 tabs-ko">
            <table class="striped centered bordered">
              <thead>
                <tr>
                  <th>Sections</th>
                  <th>Section Adviser</th>
                  <th>View students</th>
                </tr>
              </thead>
              <tbody>
                <% @section12.each do |section| %>
                  <tr>
                    <td><%= section.section %></td>
                    <% if section.adviser.blank? %>
                       <td><p class="red-text">No adviser assigned</p></td>
                    <% else %>
                      <td><%= section.adviser %></td>
                    <% end %>  
                    <td>
                      <%= link_to student_list_section_path(section.section) , class: "green-text" do %>
                        <i class="material-icons">send</i>
                      <% end %>
                      </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div><!-- row -->
      </div>
    </div>

  <div class="col s12 ">
      <%= render 'partials/sidebar' %>
  </div>
</div>
  
<style type="text/css">
  body {
    background-color: #e8e8e8;
  }
  td {
    background-color: #e3e3e3;
    border-right: 1px solid #cbcbcb;
    border-left: 1px solid #cbcbcb;  
  } 
  .tabs {
    background-color: #640000;
    border-radius: 10px 10px 0px 0px;
  }
  .tabs .tab a{
    color: white!important;
  }

  .tabs-ko {
    padding-bottom: 10px!important;
    border: 1px solid gray;
    margin-top: 10px;
    border-radius: 10px 10px 0px 0px;
  }
  .modal.bottom-sheet {
    max-height: 100%!important;
  }

  .modal .modal-footer {
    height: 80px!important;
  }

  .collapsible-body {
    padding: 3.5px!important;
  }
</style>