<%= form_with(model: student, local: true , remote: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card white darken-1" style="margin-top: 50px">
    <div class="card-content black-text">
      <span class="card-title center"><b>Update student account  </b></span><br>
        <div class="row">
          <div class="input-field col s12 m4 l4">
            <i class="material-icons prefix">face</i>
            <label class="active">Firstname</label>
            <%= form.text_field :firstname, id: :student_firstname %>
          </div>

          <div class="input-field col s12 m4 l4">
            <i class="material-icons prefix">face</i>
            <label class="active">Middlename</label>
            <%= form.text_field :middlename, id: :student_middlename %>
          </div>

          <div class="input-field col s12 m4 l4">
            <i class="material-icons prefix">face</i>
            <label class="active">Lastname</label>
            <%= form.text_field :lastname, id: :student_lastname %>
          </div>

          <div class="input-field col s12 m6 l12">
            <i class="material-icons prefix">face</i>
            <label class="active">LRN</label>
            <%= form.text_field :lrn, id: :student_lrn, required: "required" %>
          </div>

          <div class="input-field col s12 m6 l12">
            <i class="material-icons prefix">face</i>
            <label class="active">Contact number</label>
            <%= form.number_field :phone_number, id: 'phone_number' %>
          </div>

          <div class="input-field col s12 m12 l12">
            <i class="material-icons prefix">lock</i>
            <label class="active">Password</label>
            <%= form.text_field :password, id: :student_password , required: "required"%>
          </div>

          <div class="col s12 m10 l10" id="level-field">
            <div class="input-field">
              <i class="material-icons prefix">create</i>
              <%= form.text_field :section ,id:'section-field', placeholder:"Section" %>
            </div>
          </div>

          <div class="col s12 m2 l2">
            <a class="waves-effect waves-light btn modal-trigger blue btn-large" href="#modal1">Section</a>
            <!-- Modal Structure -->
            <div id="modal1" class="modal modal-fixed-footer gray">
              <div class="modal-content">
                <h3>Choose section</h3>
                <ul class="collapsible" data-collapsible="accordion">
                  <li>
                    <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>
                    Grade 7</div>
                    <div class="collapsible-body">
                      <div class="collection">
                        <% @sections7.each do |section| %>
                          <a class="collection-item modal-close black-text" id="btn-section<%= section.id %>">
                            <%= section.section %> | Grade <b class="red-text"><%= section.yearlvl %></b></a> 
                        <% end %>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>
                    Grade 8</div>
                    <div class="collapsible-body">
                      <div class="collection">
                        <% @sections8.each do |section| %>
                          <a class="collection-item modal-close black-text" id="btn-section<%= section.id %>">
                            <%= section.section %> | Grade <b class="red-text"><%= section.yearlvl %></b></a> 
                        <% end %>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>
                    Grade 9</div>
                    <div class="collapsible-body">
                      <div class="collection">
                        <% @sections9.each do |section| %>
                          <a class="collection-item modal-close black-text" id="btn-section<%= section.id %>">
                            <%= section.section %> | Grade <b class="red-text"><%= section.yearlvl %></b></a> 
                        <% end %>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>
                    Grade 10</div>
                    <div class="collapsible-body">
                      <div class="collection">
                        <% @sections10.each do |section| %>
                          <a class="collection-item modal-close black-text" id="btn-section<%= section.id %>">
                            <%= section.section %> | Grade <b class="red-text"><%= section.yearlvl %></b></a> 
                        <% end %>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>
                    Grade 11</div>
                    <div class="collapsible-body">
                      <div class="collection">
                        <% @sections11.each do |section| %>
                          <a class="collection-item modal-close black-text" id="btn-section<%= section.id %>">
                            <%= section.section %> | Grade <b class="red-text"><%= section.yearlvl %></b></a> 
                        <% end %>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>
                    Grade 12</div>
                    <div class="collapsible-body">
                      <div class="collection">
                        <% @sections12.each do |section| %>
                          <a class="collection-item modal-close black-text" id="btn-section<%= section.id %>">
                            <%= section.section %> | Grade <b class="red-text"><%= section.yearlvl %></b></a> 
                        <% end %>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div><!-- col s12 m2 l2 -->

          <div class="input-field col s12 m4 l4">
            <%= form.text_field :level , :required => true , id:"level" %>
          </div>

          <div class="input-field col s12 m4 l4">
            <%= form.text_field :gender ,id: :student_gender , :required => true %>
          </div>

          <div class="input-field col s12 m4 l4">
            <%= form.select :status , options_for_select([["Status", ""],"enrolled" , "un-enrolled" , "dropped"]) ,id:"gender" , :required => true %>
          </div>

          <div class="input-field col s12 m12 l12">
            <i class="material-icons prefix">email</i>
            <%= form.email_field :email , id:"email" , class: "active" %>
            <label class=" active">Email (Leave it blank if don't have any)</label>
          </div>
        </div>      
    </div>
    <div class="card-action">
      <%= form.submit "Update account" , id:"btn-update-student" , class:"btn green" , data: {
        disable_with: "Saving changes.."
      } %>
      <a class="btn btn-reset" id="btn-reset">Reset password</a>
    </div>
  </div>

<% end %>


<script type="text/javascript">
  $(document).ready(function() {
    <% @sections7.each do |section| %>
      $('#btn-section<%= section.id %>').on('click' ,function(){
        $('#section-field').val('<%= section.section %>');
        $('#level').val(<%= section.yearlvl %>)
      });
    <% end %>
    <% @sections8.each do |section| %>
      $('#btn-section<%= section.id %>').on('click' ,function(){
        $('#section-field').val('<%= section.section %>');
        $('#level').val(<%= section.yearlvl %>)
      });
    <% end %>
    <% @sections9.each do |section| %>
      $('#btn-section<%= section.id %>').on('click' ,function(){
        $('#section-field').val('<%= section.section %>');
        $('#level').val(<%= section.yearlvl %>)
      });
    <% end %>
    <% @sections10.each do |section| %>
      $('#btn-section<%= section.id %>').on('click' ,function(){
        $('#section-field').val('<%= section.section %>');
        $('#level').val(<%= section.yearlvl %>)
      });
    <% end %>
    <% @sections11.each do |section| %>
      $('#btn-section<%= section.id %>').on('click' ,function(){
        $('#section-field').val('<%= section.section %>');
        $('#level').val(<%= section.yearlvl %>)
      });
    <% end %>
    <% @sections12.each do |section| %>
      $('#btn-section<%= section.id %>').on('click' ,function(){
        $('#section-field').val('<%= section.section %>');
        $('#level').val(<%= section.yearlvl %>)
      });
    <% end %>

    $('#btn-reset').on('click' , function() {
        var Fname = $('#student_firstname').val();
        var SFname = Fname.substring(0,4)
        $('#student_password').val(SFname + $('#student_lrn').val());
    });
  });
</script>