<div class="to-be-printed">
	<center>
		<%= image_tag "favicon.ico" , style:"width:10%" %>
		<h6>San Jose del Monte National Trade School</h6>
		<h6>Web Portal</h6>
	</center>
	<br>
	<center>
		<h5><i><%= @student.firstname %> <%= @student.middlename %> <%= @student.lastname %></i><br></h5>
		<h6>4th Grading | #<%= @student.lrn %></h6>	
	</center>

	<div class="table-grades">
		<table class="centered bordered">
			<thead>
				<tr>
					<th>Subject</th>
					<th>Grade</th>
				</tr>
			</thead>
			<tbody>
				<% @grades.each do |grade| %>
					<tr>
						<td><%= grade.subject %></td>
						<td class="green-text"><%= grade.grade %>.00</td>
					</tr>
				<% end %>
			</tbody>
		</table>	
	</div>
	<center>
		<p>Recorded by: <%= current_administrator.firstname + " " + current_administrator.lastname %></p>
	</center>	
</div>


<script type="text/javascript">
	$(document).ready(function() {
		window.print();
	});
</script>

<style type="text/css">
	td {
		border-left: .1px solid #c7c7c7;
		border-right: .1px solid #c7c7c7;
	}
	.table-grades {
		padding: 20px 20px;
	}

</style>