<%= javascript_include_tag 'style' %>
<div class="row">
  <nav class="orange darken-4" style="margin-bottom: 20px">
    <div class="nav-wrapper">
      <a href="#" data-activates="slide-out" class="button-collapse">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
      </a>
      <ul class="right">
        <li>
          <a class="brand-logo right">
            Grades
          </a>
        </li>
      </ul>
    </div>
  </nav><!-- navbar -->
<!-- ===============Navbar============== -->
  <div class="row" style="padding-top: 20px">
    <div class="col s12 m12 l9 right">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
          <div class="col m2 l2">
            <%= image_tag "avatar.jpg" , class:"circle materialboxed hide-on-small-only" , style:"width:100%" %>
          </div>
          <div class="col s12 m10 l10">
            <div class=""></div>
            <h4><%= @student.firstname %> <%=  @student.lastname %></h4>
            <blockquote><b>#<%=  @student.lrn %></b> | <%=  @student.email %> | 
              Grade <%=  @student.level %> | Section <%=  @student.section %>
            </blockquote>
            <%= link_to "Edit information", edit_student_path(@student) %> | 
            <a class="modal-trigger" href="#modal1">Add Grades</a> | 
            Edit Grades
          </div>
        </div>
      </div>
    </div><!-- row -->
  </div>

  <%= render 'grades/form' %>

  <div class="row">
    <div class="col s12 m12 l9 right">
      <div class="row">
        <div class="grade-header">1st Grading</div>
        <% if @subjects1.empty? %>
          <center><h3>No records yet</h3></center>
        <% else %>
          <% @subjects1.each do |sub| %>
            <div class="col s12 m4 l3">
              <div class="card-panel">
                <span class="black-text">
                  <b><%= truncate(sub.subject , length: 20) %></b> <b class="right blue-text"><%= sub.grade %>.00</b>
                  <hr>
                  <a href="#modal1<%= sub.id %>" class="btn btn-flat red darken-1 hoverable waves-effect waves-yellow white-text modal-trigger">
                    Details
                  </a>
                </span>
              </div>
            </div>
            <div id="modal1<%= sub.id %>" class="modal">
              <div class="modal-content">
                <p class="title">
                  <b><%= truncate(sub.subject , length: 20) %> | <%= sub.quarter %>st Grading</b>  
                  <b class="right"><%= sub.grade %>.00</b></p><hr>
                <p>Recorded at <%= sub.created_at.to_s(:long) %></p>
              </div>
              <div class="modal-footer">
                <a class="modal-action modal-close waves-effect waves-yellow btn-flat red white-text">close</a>
              </div>
            </div>
          <% end %> <!-- @subjects.each -->
        <% end %> 
      </div>
      <hr>
      <div class="row">
        <div class="grade-header">2nd Grading</div>
        <% if @subjects2.empty? %>
          <center><h3>No records yet</h3></center>
        <% else %>
          <% @subjects2.each do |sub| %>
            <div class="col s12 m4 l3">
              <div class="card-panel">
                <span class="black-text">
                  <b><%= truncate(sub.subject , length: 20) %> <b class="right blue-text"><%= sub.grade %>.00</b>
                  <hr>
                  <a href="#modal1<%= sub.id %>" class="btn btn-flat red darken-1 hoverable waves-effect waves-yellow white-text modal-trigger">
                    Details
                  </a>
                </span>
              </div>
            </div>
            <div id="modal1<%= sub.id %>" class="modal">
              <div class="modal-content">
                <p class="title">
                  <b><%= truncate(sub.subject , length: 20) %> | <%= sub.quarter %>nd Grading</b>  
                  <b class="right"><%= sub.grade %>.00</b></p><hr>
                <p>Recorded at <%= sub.created_at.to_s(:long) %></p>
              </div>
              <div class="modal-footer">
                <%= link_to "Edit" , edit_student_grade_path(@student) , class:"btn btn-flat green left waves-effect waves-blue btn-flat white-tex" %>
                <a class="modal-action modal-close waves-effect waves-yellow btn-flat red white-text">close</a>
              </div>
            </div>
          <% end %> <!-- @subjects.each -->
        <% end %> 
      </div>
      <hr>
      <div class="row">
        <div class="grade-header">3rd Grading</div>
        <% if @subjects3.empty? %>
          <center><h3>No records yet</h3></center>
        <% else %>
          <% @subjects3.each do |sub| %>
            <div class="col s12 m4 l3">
              <div class="card-panel">
                <span class="black-text">
                  <b><%= truncate(sub.subject , length: 20) %></b> <b class="right blue-text"><%= sub.grade %>.00</b>
                  <hr>
                  <a href="#modal1<%= sub.id %>" class="btn btn-flat red darken-1 hoverable waves-effect waves-yellow white-text modal-trigger">
                    Details
                  </a>
                </span>
              </div>
            </div>
            <div id="modal1<%= sub.id %>" class="modal">
              <div class="modal-content">
                <p class="title">
                  <b><%= truncate(sub.subject , length: 20) %> | <%= sub.quarter %>rd Grading</b>  
                  <b class="right"><%= sub.grade %>.00</b></p><hr>
                <p>Recorded at <%= sub.created_at.to_s(:long) %></p>
              </div>
              <div class="modal-footer">
                <%= link_to "Edit" , edit_student_grade_path(@student) , class:"btn btn-flat green left waves-effect waves-blue btn-flat white-tex" %>
                <a class="modal-action modal-close waves-effect waves-yellow btn-flat red white-text">close</a>
              </div>
            </div>
          <% end %> <!-- @subjects.each -->
        <% end %> 
      </div>
      <hr>
      <div class="row">
        <div class="grade-header">4th Grading</div>
        <% if @subjects4.empty? %>
          <center><h3>No records yet</h3></center>
        <% else %>
          <% @subjects4.each do |sub| %>
            <div class="col s12 m4 l3">
              <div class="card-panel">
                <span class="black-text">
                  <b><%= truncate(sub.subject , length: 20) %></b> <b class="right blue-text"><%= sub.grade %>.00</b>
                  <hr>
                  <a href="#modal1<%= sub.id %>" class="btn btn-flat red darken-1 hoverable waves-effect waves-yellow white-text modal-trigger">
                    Details
                  </a>
                </span>
              </div>
            </div>
            <div id="modal1<%= sub.id %>" class="modal">
              <div class="modal-content">
                <p class="title">
                  <b><%= truncate(sub.subject , length: 20) %> | <%= sub.quarter %>th Grading</b>  
                  <b class="right"><%= sub.grade %>.00</b></p><hr>
                <p>Recorded at <%= sub.created_at.to_s(:long) %></p>
              </div>
              <div class="modal-footer">
                <%= link_to "Edit" , edit_student_grade_path(@student) , class:"btn btn-flat green left waves-effect waves-blue btn-flat white-tex" %>
                <a class="modal-action modal-close waves-effect waves-yellow btn-flat red white-text">close</a>
              </div>
            </div>
          <% end %> <!-- @subjects.each -->
        <% end %>
      </div>
    </div>
  </div>
<!-- ============Side bar============== -->
  <div class="col s12 ">
      <%= render 'partials/sidebar' %>
  </div><!-- col s12 -->

</div>

<style type="text/css">

  body {
    background-color: #e8e8e8;
  }

  .grade-header {
    background-color: #9f4551;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
  }

  .modal.bottom-sheet {
    max-height: 100%!important;
  }

  .student-list {
    border:1px solid #9e9e9e;
    padding:20px;
    border-radius: 20px;
    margin-top: 20px;
  }
  .title {
      font-size: 30px;
    }

    @media (max-width: 575px) { 
       .modal.open{
          width: 100%;
          max-height: 100%;
          height: 100%;
          top: 0 !important;
        }
        .modal-content {
          height: calc(100% - 56px);
        }
    }
  /*// Small devices (landscape phones, 576px and up)*/
    @media (min-width: 576px) and (max-width: 767px) {  
       .modal.open{
          width: 100%;
          max-height: 100%;
          height: 100%;
          top: 0 !important;
        }
        .modal-content {
          height: calc(100% - 56px);
        }
    }
</style>

<script type="text/javascript">
    $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false // Close upon selecting a date,
  });
</script>

