<div class="card-panel">
  <div class="row">
    <div class="col s12 m2 l2">
      <% if admin.image_file_name.present? %>
        <%= image_tag admin.image.url , class:"circle materialboxed" , style:"width:100%;height:100%" %>
      <% else %>
        <%= image_tag "avatar.jpg" , class:"circle materialboxed" , style:"width:100%" %>
      <% end %>
    </div>
    <div class="col s12 m10 l10">
      <% if admin.middlename.blank? %>
        <p class="fullname"><%= admin.firstname + " " + admin.lastname %></p>
      <% else %>
        <p class="fullname"><%= admin.firstname + " " + admin.middlename + " " + admin.lastname %></p>
      <% end %>
      <b>Username: </b><%= admin.username %><br>
      <b>Email: </b><%= admin.email %><br>
      <b>Registered as: </b><%= admin.role %><br>
      <% @section.each do |section| %>
        <b>Senction handle: </b>Grade <%= section.yearlvl %> - <%= section.section %>
      <% end %>
    </div>
  </div>
</div>

<ul class="collection">
  <li class="collection-item avatar">
    <i class="material-icons circle blue">settings</i>
    <span class="title"><b>Account Settings</b></span>
    <p>Go to your account settings</p>

    <%= link_to edit_administrator_registration_path , class:"secondary-content" do %>
      <i class="material-icons">send</i>
    <% end %>

  </li>
  <li class="collection-item avatar">
    <i class="material-icons circle">person</i>
    <span class="title"><b>Reset enrolled students</b></span>
    <p>Reseting enrolled students will put all enrolled student to Un-enrolled list.</p>

    <div class="preloader-wrapper small active secondary-content" id="loader-1">
      <div class="spinner-layer spinner-green-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>

    <div id="modal1" class="modal">
      <div class="modal-content">
        <center>
          <h4>Are you sure?</h4>
          <%= link_to "YES" , 
          reset_status_path , 
          method: :patch , 
          class:"btn green modal-close waves-effect waves-light" ,
          id:"btn-yes-reset-enrolled" %>
          <button class="btn red modal-close waves-effect waves-light">NO</button>
        </center>
      </div>
    </div>

    <a href="#modal1" class="secondary-content modal-trigger" id="btn-1"><i class="material-icons">send</i></a>
  </li>

  <li class="collection-item avatar">
    <i class="material-icons circle green">person</i>
    <span class="title"><b>Reset section advisers</b></span>
    <p>Reseting section adviser will remove all assigned advisers in partcular sections.</p>

    <div class="preloader-wrapper small active secondary-content" id="loader-2">
      <div class="spinner-layer spinner-green-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>

    <div id="modal2" class="modal">
      <div class="modal-content">
        <center>
          <h4>Are you sure?</h4>
          <%= link_to "YES" , 
          reset_section_path,
          method: :patch,
          class:"btn green modal-close waves-effect waves-light" ,
          id:"btn-yes-reset-section"  %>
          <button class="btn red modal-close waves-effect waves-light">NO</button>
        </center>
      </div>
    </div>

    <a href="#modal2" class="secondary-content modal-trigger" id="btn-2"><i class="material-icons">send</i></a>
  </li>

  <li class="collection-item avatar">
    <i class="material-icons circle red">send</i>
    <span class="title"><b>Reset student grades</b></span>
    <p>Reseting students grades will reset all grades of all enrolled student in current school year.</p>

    <div class="preloader-wrapper small active secondary-content" id="loader-3">
      <div class="spinner-layer spinner-green-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>

    <div id="modal3" class="modal">
      <div class="modal-content">
        <center>
          <h4>Are you sure?</h4>
          <button class="btn green modal-close waves-effect waves-light" id="btn-yes-reset-grades">YES</button>
          <button class="btn red modal-close waves-effect waves-light">NO</button>
        </center>
      </div>
    </div>

    <a href="#modal3" class="secondary-content modal-trigger" id="btn-3"><i class="material-icons">send</i></a>
  </li>
</ul>