<%= javascript_include_tag 'style' %>
<nav class="my-navbar-admin hide-on-small">
  <div class="nav-wrapper container">
    <%= link_to "Admin Panel" ,admin_dashboard_path , class:"brand-logo" %>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
    <ul class="right hide-on-med-and-down">
      <li>
        <%= link_to root_path do %>Home
          <i class="fa fa-home" aria-hidden="true"></i>
        <% end %>       
      </li>
      <li>
        <%= link_to news_index_path do %>News 
          <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        <% end %>
      </li>
      <li>
        <%= link_to announcements_path do %> Announcements
          <i class="fa fa-bullhorn" aria-hidden="true"></i>
        <% end %>   
      </li> 
      <li>
        <%= link_to events_path  do %> Events
          <i class="fa fa-calendar" aria-hidden="true"></i>
        <% end %> 
      </li> 
      <li>
        <%= link_to root_path do %> School
          <i class="fa fa-university" aria-hidden="true"></i>
        <% end %>
      </li>
      <li>
        <%= link_to root_path do %> Student
          <i class="fa fa-users" aria-hidden="true"></i>
        <% end %>
      </li>
      <li>
        <a class="dropdown-button" href="#!" data-activates="dropdown1"> 
          <i class="fa fa-user-circle-o" aria-hidden="true"></i> Account</a>
      </li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li>
        <div class="user-view">
          <div class="background">
            <%= image_tag "img1.jpg" , style:"width:100%" %>
          </div>
          <a href="#!user"><%= image_tag "avatar.jpg" , style:"width:30%", class:"circle" %></a>
          <a href="#!name"><span class="whtie-text name">John Doe</span></a>
          <a><span class="white-text email">jdandturk@gmail.com</span></a>
        </div>
      </li>
      <li>
        <%= link_to root_path do %>Home
          <i class="fa fa-home" aria-hidden="true"></i>
        <% end %>       
      </li>
      <li>
        <%= link_to news_index_path do %>News 
          <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        <% end %>
      </li>
      <li>
        <%= link_to announcements_path do %> Announcements
          <i class="fa fa-bullhorn" aria-hidden="true"></i>
        <% end %>   
      </li> 
      <li>
        <%= link_to events_path  do %> Events
          <i class="fa fa-calendar" aria-hidden="true"></i>
        <% end %> 
      </li> 
      <li>
        <%= link_to root_path do %> School
          <i class="fa fa-university" aria-hidden="true"></i>
        <% end %>
      </li>
      <li>
        <%= link_to root_path do %> Student
          <i class="fa fa-users" aria-hidden="true"></i>
        <% end %>
      </li>
      <li>
        <a class="dropdown-button" href="#!" data-activates="dropdown2">Account
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
        </a>
      </li>
      <ul id='dropdown2' class='dropdown-content'>
        <li><a href="#!">Account Settings</a></li>
        <li><a href="#!">Register Accounts</a></li>
        <li><a href="#!">Logout</a></li>
        <li><a href="#!">Help</a></li>
      </ul>

      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">Account settings</a></li>
        <li><a href="#!">Register Accounts</a></li>
        <li class="divider"></li>
        <li><a href="#!">Logout</a></li>
      </ul> 
    </ul>
  </div>
</nav>

<style type="text/css">

  .my-navbar-admin {
      background-color: rgba(64, 31, 0, 0.75);
      position: absolute;
      top: 0%;
  } 
  nav ul a:hover {
      background-color: rgba(64, 31, 0, 0.43);
  }
</style>