<ul id="slide-out" class="side-nav fixed" style="position: fixed; ">
  <li>
    <div class="user-view">
      <div class="background">
        <%= image_tag "img1.jpg" , style:"width:100%" %>
      </div>
      <% if current_administrator.image_file_name.present? %>
        <a><%= image_tag current_administrator.image.url(:medium) , class:"circle materialboxed" %></a>
      <% else %>
        <a href="#!user"><%= image_tag "avatar.jpg" , class:"circle materialboxed" %></a>
      <% end %>
      <a><span class="white-text name">
        <%= current_administrator.firstname %> <%= current_administrator.lastname %></span></a>
      <a><span class="white-text email"><%= current_administrator.email %></span></a>
    </div>
  </li>

  <li class="link-bottom">
    <%= link_to root_path , class:" waves-effect waves-orange" do %> Homepage
      <i class="material-icons">home</i>
    <% end %>
  </li>

  <li class="<%= 'my-active' if current_page?(admin_dashboard_path) %> link-bottom ">
    <%= link_to admin_dashboard_path ,class:"waves-effect waves-orange" do %>
      Dasboard <i class="material-icons <%= 'white-text' if current_page?(admin_dashboard_path) %>">dashboard</i>
    <% end %>
  </li>

  <li class="<%= 'my-active' if current_page?(news_index_path) %> link-bottom">
    <%= link_to news_index_path , class:" waves-effect waves-orange"  do %>News 
      <i class="material-icons <%= 'white-text' if current_page?(news_index_path) %>">library_books</i>
    <% end %>
  </li>

  <li class="<%= 'my-active' if current_page?(announcements_path) %> link-bottom">
    <%= link_to announcements_path , class:" waves-effect waves-orange"  do %> Announcements 
      <i class="material-icons <%= 'white-text' if current_page?(announcements_path) %>">announcement</i>
    <% end %>   
  </li> 

  <li class="<%= 'my-active' if current_page?(events_path) %> link-bottom">
    <%= link_to events_path , class:" waves-effect waves-orange"  do %> Events
      <i class="material-icons <%= 'white-text' if current_page?(events_path) %>">live_tv</i>
    <% end %> 
  </li>

  <ul class="collapsible collapsible-accordion">

    <% if current_administrator.role == "registrar" %>
      <li class="bold">
        <a class="collapsible-header waves-effect waves-orange" style="padding-left: 30px">
          <i class="material-icons">group_add</i>Student
        </a>
        <div class="collapsible-body">
          <ul>
            <li>
              <%= link_to students_path do %>Register students
              <% end %>
            </li>
            <li>
              <%= link_to admin_student_list_path do %>Student list
              <% end %>
            </li>
          </ul>
        </div>
      </li>
    <% else %>
      <!-- none registrar accounts can't add section -->
    <% end %>

    <% if current_administrator.role == "registrar" %>
      <li class="bold">
        <a class="collapsible-header waves-effect waves-orange" style="padding-left: 30px">
          <i class="material-icons">format_list_bulleted</i>Sections
        </a>
        <div class="collapsible-body">
          <ul>
            <li>
              <%= link_to sections_path do %>Add section
              <% end %>
            </li>
            <li>
              <%= link_to sectionlist_path do %>Section list
              <% end %>
            </li>
          </ul>
        </div>
      </li>
    <% else %>
      <!-- none registrar accounts can't add section -->
    <% end %>

    <% if current_administrator.role == "registrar" %>
      <li class="bold"><a class="collapsible-header waves-effect waves-orange" style="padding-left: 30px">
        <i class="material-icons">library_books</i>Subjects</a>
          <div class="collapsible-body">
            <ul>
              <li>
                <%= link_to "Add subject" , subjects_path %>
              </li>
              <li>
                <%= link_to "Subject list" , subjectlist_path %>
              </li>
            </ul>
          </div>
        </li>
    <% else %>
      <!-- none registrar accounts can't add section -->
    <% end %>

    
    <% if current_administrator.role == "registrar" %>
      <li class="bold"><a class="collapsible-header waves-effect waves-orange" style="padding-left: 30px">
      <i class="material-icons">format_list_numbered</i>Grades</a>
        <div class="collapsible-body">
          <ul>
            <li>
              <%= link_to "Grade 7" , grade7_path %>
            </li>
            <li>
              <%= link_to "Grade 8" , grade8_path %>
            </li>
            <li>
              <%= link_to "Grade 9" , grade9_path %>
            </li>
            <li>
              <%= link_to "Grade 10" , grade10_path %>
            </li>
            <li>
              <%= link_to "Grade 11" , grade11_path %>
            </li>
            <li>
              <%= link_to "Grade 12" , grade12_path %>
            </li>
          </ul>
        </div>
      </li>
    <% else %>
      <!-- non registrar can't edit student grades -->
    <% end %>

    <% if current_administrator.role == "faculty" %>
      <li class="<%= 'my-active' if current_page?(myclass_path) %> link-bottom">
        <%= link_to myclass_path , class:" waves-effect waves-orange"  do %> My class 
          <i class="material-icons <%= 'white-text' if current_page?(myclass_path) %>">announcement</i>
        <% end %>   
      </li> 
    <% else %>
      <!-- faculty will handle her own class -->
    <% end %>

    <li class="bold"><a class="collapsible-header waves-effect waves-orange" style="padding-left: 30px">
      <i class="material-icons">person</i>
        <% if current_administrator.role == "registrar" %>
          Account
        <% else %>
          My account
        <% end %>
      </a>
      <div class="collapsible-body">
        <ul>
          <li>
            <%= link_to admin_profile_path do %>My profile
            <% end %>
          </li>
          <% if current_administrator.role == "registrar" %>
            <li>
              <%= link_to admin_register_path do %>Register account
              <% end %>
            </li>
          <% else %>
            <!-- non registrar accounts cant add other accounts -->
          <% end %>
          
          <li><%= link_to "Logout" , destroy_administrator_session_path , method: :delete %></li>
        </ul>
      </div>
    </li>
    
  </ul>
</ul>

<style type="text/css">
  .my-active {
    background-color: #640000!important;
  }

  .my-active a {
    color:white!important;
  }

  .link-bottom {
    transition: .3s;
  }
</style>