<div class="slider">
  <ul class="slides">
    <li>
      <%= image_tag "img1.jpg" %>
      <div class="caption center-align">
        <%= image_tag "favicon.ico" , class:"circle" , style:"width:150px" %>
        <h3 class="light white-text text-lighten-3 hide-on-small-only" style="text-shadow: 1px 1px 1px #ffbf00;">
          <b>San Jose del Monte</b></h3>
        <h5 style="text-shadow: 1px 1px 1px #ffbf00;" class=" hide-on-small-only">
          <b>National Trade School</b></h5>
          <p class=" hide-on-med-and-up"><b>National Trade School</b></p>
      </div>
    </li>
    <li>
      <%= image_tag "img2.jpg" %>
      <div class="caption left-align">
        <%= image_tag "favicon.ico" , class:"circle" , style:"width:150px" %>
        <h3 class="light white-text text-lighten-3 hide-on-small-only" style="text-shadow: 1px 1px 1px #ffbf00;">
          <b>San Jose del Monte</b></h3>
        <h5 style="text-shadow: 1px 1px 1px #ffbf00;" class=" hide-on-small-only">
          <b>National Trade School</b></h5>
          <p class=" hide-on-med-and-up"><b>National Trade School</b></p>
      </div>
    </li>
    <li>
      <%= image_tag "img3.jpg" %>
      <div class="caption right-align">
        <%= image_tag "favicon.ico" , class:"circle" , style:"width:150px" %>
        <h3 class="light white-text text-lighten-3 hide-on-small-only" style="text-shadow: 1px 1px 1px #ffbf00;">
          <b>San Jose del Monte</b></h3>
        <h5 style="text-shadow: 1px 1px 1px #ffbf00;" class=" hide-on-small-only">
          <b>National Trade School</b></h5>
          <p class=" hide-on-med-and-up"><b>National Trade School</b></p>
      </div>
    </li>
    <li>
      <%= image_tag "img2.jpg" %>
      <div class="caption center-align">
        <%= image_tag "favicon.ico" , class:"circle" , style:"width:150px" %>
        <h3 class="light white-text text-lighten-3 hide-on-small-only" style="text-shadow: 1px 1px 1px #ffbf00;">
          <b>San Jose del Monte</b></h3>
        <h5 style="text-shadow: 1px 1px 1px #ffbf00;" class=" hide-on-small-only">
          <b>National Trade School</b></h5>
          <p class=" hide-on-med-and-up"><b>National Trade School</b></p>
      </div>
    </li>
  </ul>
</div>