<%= form_with(model: section, local: true) do |form| %>
  <% if section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
      <% section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card white">
    <div class="card-content black-text">
      <span class="card-title">Edit section</span>
      <div class="row" style="margin-top: 20px">
        <div class="input-field col s12">
          <i class="material-icons prefix">create</i>
          <label class="active">Section</label>
          <%= form.text_field :section, id: :section_section %>
        </div>

        <div class="input-field col s12 m12 l12">
          <i class="material-icons prefix">create</i>
          <label class="active">Section year</label>
          <%= form.number_field :yearlvl , max: 12 , min: 7 %>
          <%= form.text_field :adviser_id , id:'adviser_id' , type:'hidden' %>
        </div>

        <div class="input-field col s12 m10 l10">
          <i class="material-icons prefix">account_circle</i>
          <label class="active">Section adviser</label>
          <%= form.text_field :adviser, id: 'adviser', placeholder:"Adviser" %>
        </div>
        <div class="input-field col s12 m2 l2">
          <a class="waves-effect waves-light btn modal-trigger btn-large blue" href="#modal1">Adviser</a>
          <!-- Modal Structure -->
          <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4>Choose adviser</h4>
              <ul class="collection with-header">
                <% @teacher.each do |teacher| %>
                  <li class="collection-item modal-close">
                    <a id="btn-teacher<%= teacher.id %>"><%= teacher.firstname + " " + teacher.lastname %></a>
                  </li>
                <% end %>
              </ul>
              
            </div>
            <div class="modal-footer">
              <a class="modal-action modal-close waves-effect waves-yellow btn-flat red white-text">close</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-action">
      <%= form.submit class:"btn btn-flat waves-effect waves-blue green white-text right" , data: { disable_with: "Updating section ..." } %>
      <button class="btn red waves-effect waves-yellow" id="removeAdviser">Remove adivser</button>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    <% @teacher.each do |teacher| %>
      $('#btn-teacher<%= teacher.id %>').on('click' ,function(){
        $('#adviser').val('<%= teacher.firstname %>' + " " + '<%= teacher.lastname %>' );
        $('#adviser_id').val(<%= teacher.id %>);
      });
    <% end %>

    $('#removeAdviser').on('click' , function() {
      $('#adviser').val('');
      $('#adviser_id').val('');
    });

  });
</script>
