<%= form_with(model: section, local: true) do |form| %>
  <% if section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
      <% section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card white" id="edit-card">
    <div class="card-content black-text" id="card-edit">
      <span class="card-title">Edit section</span>
      <div class="row" style="margin-top: 20px">
        <div class="input-field col s12">
          <i class="material-icons prefix">create</i>
          <label class="active">Section</label>
          <%= form.text_field :section, id: :section_section %>
        </div>

        <div class="input-field col s12 m12 l12">
          <i class="material-icons prefix">create</i>
          <label class="active">Section year</label>
          <%= form.number_field :yearlvl , max: 12 , min: 7 %>
          <%= form.text_field :adviser_id , id:'adviser_id' , type:'hidden' %>
        </div>

        <div class="input-field col s12 m10 l10">
          <i class="material-icons prefix">account_circle</i>
          <label class="active">Section adviser</label>
          <%= form.text_field :adviser, id: 'adviser', placeholder:"Adviser" %>
        </div>

        <input type="hidden" name="adviser-id" id="adviser-id">

        <div class="input-field col s12 m2 l2">
          <a class="waves-effect waves-light btn modal-trigger btn-large blue" href="#modal1">Adviser</a>
          <!-- Modal Structure -->
          <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4>Choose adviser</h4>
              <ul class="collection with-header">
                <% if @teacher.blank? %>
                  <li class="collection-item modal-close">
                    <a>No available adviser to assign</a>
                  </li>
                <% else %>
                  <% @teacher.each do |teacher| %>
                    <li class="collection-item modal-close">
                      <a class="white-text btn green waves-effect waves-white" id="btn-teacher<%= teacher.id %>"><%= teacher.lastname + ", " + teacher.firstname %></a> - (<%= teacher.available %>)
                    </li>
                  <% end %>
                <% end %>
              </ul>
              
            </div>
            <div class="modal-footer">
              <a class="modal-action modal-close waves-effect waves-yellow btn-flat red white-text">close</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-action" id="card-edit-buttons">
      <button class="btn green waves-effect waves-blue" id="btn-update" type="submit">Save section</button>
     <!--  <%= form.submit class:"btn btn-flat waves-effect waves-blue green white-text right" , data: { disable_with: "Updating section ..." } , id:"btn-update-1" %> -->
      <button class="btn red waves-effect waves-yellow" id="removeAdviser" type="submit">
      Remove adivser</button>
      <div class="progress" id="loader">
        <div class="indeterminate"></div>
      </div>
    </div>
  </div>

  <div>
    <center id="loading-screen"></center>    
  </div>
    
<% end %>

<script>
  $(document).ready(function() {

    $('#loader').hide();

    <% @teacher.each do |teacher| %>
      $('#btn-teacher<%= teacher.id %>').on('click' ,function(){
        $('#adviser').val('<%= teacher.firstname %>' + " " + '<%= teacher.lastname %>' );
        $('#adviser_id').val(<%= teacher.id %>);
        $('#adviser-id').val(<%= teacher.id %>);
      });
    <% end %>

      $('#removeAdviser').on('click' , function() {
        $('#adviser').val('');
        $('#adviser_id').val('');
        $('#adviser-id').val('');
        $('#loader').slideDown();
        $('#btn-update').hide().slideUp(600);
        $('#removeAdviser').hide().slideUp(600);
      });
  

  });

  $(document).ready(function() {

    var adviserId = $('#adviser_id').val();

    $('#removeAdviser').on('click' , function() {
      $.ajax({
        url:'http://localhost:3000/admin/section/set_adviser/not-available/' + adviserId ,
        type:'PATCH',
        data: { available: "available" }
      });  
    });

    $('#btn-update').on('click' , function() {
      $('#loader').slideDown();
      $('#btn-update').hide().slideUp(600);
      $('#removeAdviser').hide().slideUp(600);
      var adviserId = $('#adviser-id').val();
      $.ajax({
        url:'http://localhost:3000/admin/section/set_adviser/' + adviserId ,
        type:'PATCH',
        data: { available: "not-available" }
      });
    });

  });
</script>

<style type="text/css">
  
  #loading-screen {
    align-items: center;
  }

  #loading {
    font-size: 200px;
    margin-top: 150px;
  }
</style>