<p id="notice"><%= notice %></p>

<p>
  <strong>Section:</strong>
  <%= @section.section %>
</p>

<p>
  <strong>Yearlvl:</strong>
  <%= @section.yearlvl %>
</p>

<p>
  <strong>Adviser:</strong>
  <%= @section.adviser %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
