<%= javascript_include_tag 'style' %>
<div class="row">
  <nav class="orange darken-4" style="margin-bottom: 20px">
    <div class="nav-wrapper">
      <a href="#" data-activates="slide-out" class="button-collapse">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
      </a>
      <ul class="right">
        <li>
          <a class="black-text waves-effect waves-light btn modal-trigger amber accent-3 hoverable" href="#modal1" id="modalKo">
            Create event
          </a>
        </li>
      </ul>
    </div>
  </nav><!-- navbar -->

  <div class="row">
    <h4 class="col s12 m12 l9 right center">Events</h4>
    <h5 class="col s12 m12 l9 right green-text"><%= notice %></h5> 
    <div id="event-content" class="col s12 m12 l9 right">
      <% if @events.empty? %>
        <center id="condition-cont"><h3>No event posted yet</h3></center>
      <% else %>
        <%= render @events %>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div id="modal1" class="modal modal-fixed-footer">
      <%= form_for(@event , remote: true ) do |f| %>
        <div class="modal-content">
          <center><h4>Create event</h4></center>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">create</i>
              <%= f.text_field :title , id:"title" %>
              <label for="title">Event title</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">subject</i>
              <%= f.text_area :body , id:"body" , class:"materialize-textarea" %>
              <label for="body">Event content</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">date_range</i>
              <label for="announcement_date">Event date</label>
              <%= f.text_field :date, id: :announcement_date ,class:"datepicker" , type:"text" %>
              <label></label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <span class="btn btn-file left blue">
            <i class="fa fa-camera" aria-hidden="true"></i> Add photo <%= f.file_field :image %>
          </span>
          <a class="modal-action modal-close waves-effect waves-blue btn-flat red white-text">Close</a>
          <%= f.submit "Create" , class:"btn btn-flat green white-text" , data: {
            disable_with: "Creating event.."
          } %>
        </div>
      <% end %>  
    </div>
  </div><!-- row -->

  <div class="col s12 ">
      <%= render 'partials/sidebar' %>
  </div><!-- col s12 -->

</div>
  

<style type="text/css">
  body {
    background-color: #e8e8e8;
  }
  @media (max-width: 575px) { 
     .modal.open{
        width: 100%;
        max-height: 100%;
        height: 100%;
        top: 0 !important;
      }
      .modal-content {
        height: calc(100% - 56px);
      }
  }
  /*// Small devices (landscape phones, 576px and up)*/
  @media (min-width: 576px) and (max-width: 767px) {  
     .modal.open{
        width: 100%;
        max-height: 100%;
        height: 100%;
        top: 0 !important;
      }
      .modal-content {
        height: calc(100% - 56px);
      }
  }

</style>

<script type="text/javascript">
    $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false // Close upon selecting a date,
  });
</script>

