<%= javascript_include_tag 'style' %>
<!-- +++++++++++++++++++++++++++++++++++ -->
  <%= render 'partials/navbar' %>
  <div class="slider">
    <ul class="slides">
      <li>
        <%= image_tag "img1.jpg" %>
        <div class="caption center-align">
          <%= image_tag "favicon.ico" , class:"circle" , style:"width:150px" %>
          <h3 class="light white-text text-lighten-3 hide-on-small-only" style="text-shadow: 1px 1px 1px #ffbf00;">San Jose del Monte</h3>
          <h5 style="text-shadow: 1px 1px 1px #ffbf00;" class=" hide-on-small-only">National Trade School</h5>
        </div>
      </li>
      <li>
        <%= image_tag "img2.jpg" %>
        <div class="caption left-align">
          <%= image_tag "favicon.ico" , class:"circle" , style:"width:150px" %>
          <h3 class="light white-text text-lighten-3 hide-on-small-only" style="text-shadow: 1px 1px 1px #ffbf00;">San Jose del Monte</h3>
          <h5 style="text-shadow: 1px 1px 1px #ffbf00;" class=" hide-on-small-only">National Trade School</h5>
        </div>
      </li>
      <li>
        <%= image_tag "img3.jpg" %>
        <div class="caption right-align">
          <%= image_tag "favicon.ico" , class:"circle" , style:"width:150px" %>
          <h3 class="light white-text text-lighten-3 hide-on-small-only" style="text-shadow: 1px 1px 1px #ffbf00;">San Jose del Monte</h3>
          <h5 style="text-shadow: 1px 1px 1px #ffbf00;" class=" hide-on-small-only">National Trade School</h5>
        </div>
      </li>
      <li>
        <%= image_tag "img2.jpg" %>
        <div class="caption center-align">
          <%= image_tag "favicon.ico" , class:"circle" , style:"width:150px" %>
          <h3 class="light white-text text-lighten-3 hide-on-small-only" style="text-shadow: 1px 1px 1px #ffbf00;">San Jose del Monte</h3>
          <h5 style="text-shadow: 1px 1px 1px #ffbf00;" class=" hide-on-small-only">National Trade School</h5>
        </div>
      </li>
    </ul>
  </div>

  <div class="row" style="margin-top: 50px;">
    <div class="col s12">
      <h3 class="center">About web portal</h3>
      <div class="container">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>

  <div class="parallax-container" style="margin-top: 100px;">
    <div class="container white-text">
      <div>
        <center><h3>School History</h3></center>
        <p style="text-align: justify-all;">
          San Jose Del Monte National Trade School is a public secondary shool in San Jose Del Monte City, Bulacan. Esablished in the year 1977 and currently headed by <strong>Mr. Alex D. Angeles</strong><br>
          San Jose Del Monte National Trade School was created by virtue of Republic Act No. 5666 on June 1976 but only on June 13, 1977 that classes were organized. The first school building used was the Holy Family Chapel at Area _ courtuesy of fr. Edward Alban Kelly, but later the school was transferred at its present site on January _, 1979 which has an area of 22,276 sq. meters located at Brgy. Fatima V. Area Sapang Palay, City of San Jose Del Monte, Bulacan donated by the National Housing Authorithy <br><br>
          The school was established as a secondary vocational school under the Department of Education. It aims to develop skills training on different Treade areas as wel as excellence in Academic subjects to prepare themselves for the tertiary level. Among the trade areas offered in the four-year secondary curriculum are Furniture and Cabinet making, Electronics, Electricity, Refrigeration and Air-conditioning, Cosmetology, Food Tech., Dressmaking, Drafting, Automitive and Metal Trade Skills. <br><br>
          SJDMNTS is fully commited to achieve totoal quality management and educational excellence and to attain its philosophy of education that shall develop citizens who believe in God, love of country and their fellowmen and face the challenge of developing the learners to prepare them to become responsible, productive self-reliant individuals.
        </p>
      </div>
    </div>
    <div class="parallax">
      <%= image_tag "img1.jpg" ,style:"filter:blur(5px)"  %>
    </div>
  </div>

<div style="margin-top: 50px">
  <center>
    <div class="carousel">
      <h4 class="black-text"><b>School activities</b></h4>
      <a class="carousel-item"><%= image_tag "activities/img1.png" %></a>
      <a class="carousel-item"><%= image_tag "activities/img7.png" %></a>
      <a class="carousel-item"><%= image_tag "activities/img3.png" %></a>
      <a class="carousel-item"><%= image_tag "activities/img4.png" %></a>
      <a class="carousel-item"><%= image_tag "activities/img5.png" %></a>
      <a class="carousel-item"><%= image_tag "activities/img6.png" %></a>
    </div>
  </center>
  <p class="container">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

  <div class="parallax-container" style="margin-top: 100px;height: 400px;">
    <div class="row container" style="padding-top: 50px;">
      <div class="col s12 m12 l6 white-text">
        <h4 class="center"><b>Vision</b></h4>
        <p>We dream of Filipinos who passionately loves their country and whose competencies and values enable them to realize their full potential and contribute meaningfully to building the nation.
          We are a learner-centered public institution, the Department of Education continously imroves itself to better serve its stakesholders.
        </p>
      </div>
      <div class="col s12 m12 l6 white-text">
        <h4 class="center"><b>Mission</b></h4>
        <p>
        To protect and promote the right of every Filipino to quality, equitable, culture-based, and complete education where:
          Students learn in a child friendly, gender-sensitve, safe, and motivating environment
          Teachers facilitate learning and constantly nurture every learner.
          Administrator and staff, as stewards of the institution, ensure an enabling and supportive environment for effective learning to happen.
          Family, community and other stakeholders are actively engaged and share responsibility for developing lifelong learners 
        </p>
      </div>
    </div>
    <div class="parallax">
      <%= image_tag "img2.jpg" ,style:"filter:blur(5px)"  %>
    </div>
  </div>

  <div class="container" style="margin-top: 50px">
    <h4 class="center">Organizations</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

<%= render 'partials/footer' %>


<style type="text/css">

  .carousel .carousel-item {
    width:300px !important;
  }

  .carousel-item img{
    border-radius: 20px;
  }

  .parallax-container {
      height: 550px;
   }

   .slides li img{
    /*filter: blur(5px);*/
    transition:.7s;
   }

   .slides li img:hover{
     /*filter: blur(5px);*/
     transform: scale(1.1);
     cursor: pointer;
   }
</style>


<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({
      fullWidth: false,
      dist: -150,
      indicators: true
    });
  });
</script>
