<%= javascript_include_tag 'style' %>

<%= render "partials/side_nav" %>
<%= render "partials/nav_bar" %>

<div class="navbar2" style="background-color:#160000!important">
  <div class="row">
    <div class="col s12 m12 l9 offset-l3 valign-wrapper" style="text-align: center;">
      <span><i class="large material-icons yellow-text" style="margin-right: 20px">announcement</i><br></span>
      <h3 class="white-text title hide-on-med-and-down">Announcements</h3>
      <h5 class="hide-on-large-only white-text">Announcements</h5>
    </div>
  </div>
</div>

<div class="row main">
  <div class="col s12 m12 l9 offset-l3">
    <% if @announcements.empty? %>
      <center><h1>No announcement posted yet</h1></center>
    <% else %>
      <% @announcements.each do |announcement| %>
        <% if announcement.image.present? %>
          <div class="card-panel">
            <%= image_tag announcement.image.url , style:"width:100%;margin-bottom:20px" , class:"materialboxed" %> 
            <b><h3 class="title"><%= announcement.title %></h3></b>
            | Posted at <%= announcement.created_at.to_s(:long) %>
            <p class="body" style="text-align: justify;"><%= truncate(announcement.body , length:200) %></p>

            <div class="card-action">
              <a href="#modalA<%= announcement.id %>" class="btn green waves-effect waves-blue modal-trigger">Read more</a>
            </div>
          </div>
          <div id="modalA<%= announcement.id %>" class="modal modal-fixed-footer">
            <div class="modal-content">
              <div class="card-panel">
                <div class="row">
                  <div class="col s12 m12 l7">
                    <%= image_tag  announcement.image.url , style:"width:100%" , class:"materialboxed" %>
                  </div>
                  <div class="col s12 m12 l5 modal-body" style="margin-top: 20px">
                    <h3 class="title"><%= announcement.title %><br>
                      <% if announcement.date.blank? %>
                        <!-- nodate here -->
                      <% else %>
                        When: <%= announcement.date.strftime('%b') + " " + announcement.date.strftime('%d') %>
                      <% end %>
                    </h3>
                    | Posted at <%= announcement.created_at.to_s(:long) %><hr>
                    <p class="body" style="text-align: justify;"><%= announcement.body %></p>  
                  </div>
                </div>  
              </div>
            </div>
              <a class="modal-action modal-close waves-effect waves-yellow btn-floating red lighten-1 right btn-close">
                <i class="material-icons">close</i>
              </a>
          </div>
        <% else %>
          <div class="card-panel">
            <b><h3 class="title"><%= announcement.title %></h3></b>
            | Posted at <%= announcement.created_at.to_s(:long) %>
            <p class="body" style="text-align: justify;"><%= truncate(announcement.body , length:200) %></p>

            <div class="card-action">
              <a href="#modalA<%= announcement.id %>" class="btn green waves-effect waves-blue modal-trigger">Read more</a>
            </div>
          </div>
          <div id="modalA<%= announcement.id %>" class="modal modal-fixed-footer">
            <div class="modal-content">
              <div class="card-panel">
                <div class="row">
                  <div class="col s12 modal-body" style="margin-top: 20px">
                    <h3 class="title"><%= announcement.title %><br>
                      <% if announcement.date.blank? %>
                        <!-- nodate here -->
                      <% else %>
                        When: <%= announcement.date.strftime('%b') + " " + announcement.date.strftime('%d') %>
                      <% end %>
                    </h3>
                    | Posted at <%= announcement.created_at.to_s(:long) %><hr>
                    <p class="body" style="text-align: justify;"><%= announcement.body %></p>  
                  </div>
                </div>  
              </div>
            </div>
              <a class="modal-action modal-close waves-effect waves-yellow btn-floating red lighten-1 right btn-close">
                <i class="material-icons">close</i>
              </a>
          </div>
        <% end %><!-- if announcement.image.present? -->
      <% end %><!-- @announcements.each -->
    <% end %><!-- if announcement.empty -->

    <div style="border-top: .5px solid #bababa;margin-top: 50px">
      <center>
        <%= will_paginate @announcements , renderer: MaterializePagination::Rails %>
      </center>  
    </div>

  </div>
</div>

<%= render "partials/footer_2" %>