<%= javascript_include_tag 'style' %>
<!-- +++++++++++++++++++++++++++++++++++ -->
<%= render 'partials/navbar' %>
<%= render 'partials/slider' %>

  <div class="container desc-container">
  	<p class="title center"  style="font-size: 25px;margin: 10px;font-family:Rockwell">
  	San Jose del Monte National Trade School</p><hr>
  	<p style="text-align: justify;" class="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

	<div class="desc1-container">
	  <div class="container">
	    <div class="row">
	      <div class="col s12 m8 l7">
	      	<%= image_tag "page.png"  , style:"width:100%" , class:"materialboxed" %>
	      </div>
	      <div class="col s12 m4 l5 hide-on-small-only">
	      	<p class="title center" style="font-size: 25px;margin: 10px;font-family:Rockwell">About Web Portal</p><hr>
	      	<p class="center" style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	      	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
	      	<dl class="list-desc">
	      	  <li>View all School News</li>
	      	  <li>View all School Announcements</li>
	      	  <li>View all upcoming and past School Events</li>
	      	  <li>Student grades</li>
	      	  <li>Mobile app</li>
	      	</dl>
	      </div>
	    </div>
	  </div>	
	</div>
  
  <div class="desc2-container">
  	<div class="container row">
  	  <div class="col s12 m4 l4">
  	  	<p class="title center" style="font-size: 25px;margin: 10px;font-family:Rockwell">News</p>
  	  	<p style="text-align: justify;" class="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  	  	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  	  	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  	  	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  	  	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  	  	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  	  </div>
  	  <div class="col s12 m4 l4">
  	  	<p class="title center" style="font-size: 25px;margin: 10px;font-family:Rockwell">Announcements</p>
  	  	<p style="text-align: justify;" class="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  	  	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  	  	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  	  	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  	  	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  	  	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  	  </div>
  	  <div class="col s12 m4 l4">
  	  	<p class="title center" style="font-size: 25px;margin: 10px;font-family:Rockwell">Events</p>
  	  	<p style="text-align: justify;" class="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  	  	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  	  	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  	  	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  	  	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  	  	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  	  </div>
  	</div>
  </div>

    <div class="desc3-container">
	  <div class="container">
	    <div class="row">
	      <div class="col s12 m8 l7">
	      	<%= image_tag "page.png"  , style:"width:100%" %>
	      </div>
	      <div class="col s12 m4 l5 hide-on-small-only">
	      	<p class="title center" style="font-size: 25px;margin: 10px;font-family:Rockwell">Mobile App</p><hr>
	      	<p class="center" style="text-align: justify;" class="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	      	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
	      	<dl class="list-desc">
	      	  <li>View all School News</li>
	      	  <li>View all School Announcements</li>
	      	  <li>View all upcoming and past School Events</li>
	      	  <li>Student grades</li>
	      	  <li>Student login</li>
	      	</dl>
	      </div>
	    </div>
	  </div>	
	</div>

<%= render 'partials/footer' %>

<style type="text/css">

  .list-desc li{
  	font-size: 15px;
  	font-family:Rockwell
  }
  
  .desc1-container {
  	background-color: #cccccc;
    margin-top: 100px;
    padding: 50px 10px 50px 10px;
  }

  .desc2-container {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px 10px 10px 10px;
  }

  .desc3-container {
  	background-color: #cccccc;
    margin-top: 100px;
    padding: 50px 10px 50px 10px;
  }
  .parallax-container {
      height: 300px;
   }

   footer {
   	margin-top: 0px!important;
   }

   .slides li img{
    /*filter: blur(5px);*/
    transition:.7s;
   }

   .slides li img:hover{
     /*filter: blur(5px);*/
     transform: scale(1.1);
     cursor: pointer;
   }

   .sjdm {
    font-size: 35px;
   }

   .title {
      font-size: 30px;
    }
</style>

