<%= javascript_include_tag 'style' %>

<%= render "partials/side_nav" %>
<%= render "partials/nav_bar" %>

<div class="row main">
  <div class="col s12 m12 l9 offset-l3">
    
    <div class="slider">
      <ul class="slides">
        <li>
          <%= image_tag "img1.jpg" , class:"img-sliders" %>
          <div class="caption center-align">
            <%= image_tag "favicon.ico" , style:"width:150px" %>
            <h3 class="slider-title">San Jose del Monte</h3>
            <h5 class="light grey-text text-lighten-3 slider-title-2">National Trade School</h5>
          </div>
        </li>
        <li>
          <%= image_tag "img2.jpg" , class:"img-sliders" %>
          <div class="caption left-align">
            <%= image_tag "favicon.ico" , style:"width:150px" %>
            <h3 class="slider-title">San Jose del Monte</h3>
            <h5 class="light grey-text text-lighten-3 slider-title-2">National Trade School</h5>
          </div>
        </li>
        <li>
          <%= image_tag "img3.jpg" , class:"img-sliders" %>
          <div class="caption right-align">
            <%= image_tag "favicon.ico" , style:"width:150px" %>
            <h3 class="slider-title">San Jose del Monte</h3>
            <h5 class="light grey-text text-lighten-3 slider-title-2">National Trade School</h5>
          </div>
        </li>
        <li>
          <%= image_tag "img2.jpg" , class:"img-sliders" %>
          <div class="caption center-align">
            <%= image_tag "favicon.ico" , style:"width:150px" %>
            <h3 class="slider-title">San Jose del Monte</h3>
            <h5 class="light grey-text text-lighten-3 slider-title-2">National Trade School</h5>
          </div>
        </li>
      </ul>
    </div>

    <div class="card-panel white">
      <center>
        <h4>San Jose del Monte National Trade School Web Portal</h4><hr>
        <p class="body">
          San Jose del Monte National Trade School is a public secondary school in San Jose del Monte City, Bulacan, Philippines. The head of the school is Mr. Alex D. Angeles
        </p>
      </center>  
    </div>
    
    <div class="row about-portal">
      <div class="card-panel white" style="margin-top: 70px">
        <div class="row">
          <div class="col s12 m12 l6" style="margin-top: 30px">
            <%= image_tag "page.png" , class:"materialboxed" , style:"width:100%" %>
          </div>
          <div class="col s12 m12 l6">
            <span class="gray-text" style="text-align: justify;">
              <h3 class="center">About Web Portal</h3><hr>
              <p style="text-align: justify;" class="body">
                As San Jose Del Monte National Trade School, strive to provide faster and convenient ways for students, faculty and staff to access necessary data, the SJDMNTS Web Portal was developed. The Web Portal contains the latest information regarding San Jose Del Monte National Trade School. (The History, Vision and Mission) The Web Portal also contains the information regarding the available k-12 programs for upcoming senior high students. The Web Portal also contains options for viewing the current school news, announcements and events.
              </p>
            </span>
          </div> 
        </div>
      </div>
    </div>

    <div class="row about-portal" style="text-align: center;">
      <div class="col s12 m12 l4" style="margin-top: 30px">
        <i class="large material-icons green-text">library_books</i><br>
        <h4>News</h4>
        <p style="text-align: justify;" class="body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="col s12 m12 l4" style="margin-top: 30px">
        <i class="large material-icons yellow-text">announcement</i><br>
        <h4>Announcements</h4>
        <p style="text-align: justify;" class="body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="col s12 m12 l4" style="margin-top: 30px">
        <i class="large material-icons orange-text">event</i><br>
        <h4>Events</h4>
        <p style="text-align: justify;" class="body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>

    <div class="row about-portal" style="padding-top: 50px;padding-bottom: 50px">
      <div class="card-panel white">
        <div class="row">
          <div class="col s12 m12 l4" style="align-items: center;">
            <%= image_tag "mobile.png" , class:"materialboxed center" , style:"width:80%" %>
          </div>
          <div class="col l8" style="margin-top: 50px;text-align: justify;">
            <span class="gray-text">
              <h5>Mobile App</h5><hr>
              <p class="body">
                The Mobile App contains most of your student Record which includes your grades and this records are available for Viewing. You can also view the latest school news, announcements and events. Information about your School and Information about the available organizations in your School.
              </p>
            </span>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div><!-- row main -->

<%= render "partials/footer_2" %>

<style type="text/css">

</style>

<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({
      indicators: true
    });
  });
</script>