<%= javascript_include_tag 'style' %>

<%= render "partials/side_nav" %>
<%= render "partials/nav_bar" %>

<div class="navbar2" style="background-color:#160000!important">
  <div class="row">
    <div class="col s12 m12 l9 offset-l3 valign-wrapper" style="text-align: center;">
      <span><i class="large material-icons green-text" style="margin-right:20px">library_books</i><br></span>
      <h2 class="white-text title hide-on-med-and-down">News</h2>
      <h4 class="hide-on-large-only white-text">News</h4>
    </div>
  </div>
</div>

<div class="row main">
  <div class="col s12 m12 l9 offset-l3">
    <% if @news.empty? %>
      <div style="margin-top: 200px;margin-bottom: 200px">
        <h1>No news posted yet</h1>
      </div>
    <% else %>
      <% @news.each do |news| %>
        <div class="card-panel white" id="staggered-test">
          <h3><%= news.title %></h3> | Posted at <%= news.created_at.to_s(:short) %><hr>
          <p><%= truncate(news.body , length: 300) %></p>
          <div class="card-action">
            <a href="#modalNews<%= news.id %>" class="btn green waves-effect waves-blue modal-trigger">Read more</a>
          </div>
        </div>

        <div id="modalNews<%= news.id %>" class="modal modal-fixed-footer">
          <div class="modal-content">
            <div class="card-panel">
              <h3 class="title"><%= news.title %></h3>
              | Posted at <%= news.created_at.to_s(:long) %><hr>
              <p class="body" style="font-size: 20px;text-align: justify;"><%= news.body %></p>   
            </div>
          </div>
            <a class="modal-action modal-close waves-effect waves-yellow btn-floating red lighten-1 right btn-close">
              <i class="material-icons">close</i>
            </a>
        </div>
      <% end %>
    <% end %>
    
    <div style="border-top: .5px solid #bababa;margin-top: 50px">
      <center>
        <%= will_paginate @news , renderer: MaterializePagination::Rails %>
      </center>  
    </div>
    
  </div>
</div>

<%= render "partials/footer_2" %>

<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({
      indicators: true
    });
  });
</script>