<%= form_with(model: subject, local: true) do |form| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-panel">
    <div class="card-content">
      <h3>Edit subject</h3><br>
      <div class="row">
        <div class="input-field col l6 m6 s12">
          <label class="active">Subject title:</label>
          <%= form.text_field :title, id: :subject_title , required: 'required' %>
        </div>
        <div class="input-field col l6 m6 s12">
          <label class="active">Subject title:</label>
          <%= form.number_field :yearlvl , max: 12 , min: 7 ,id:"year" , placeholder:'Year level' %>
        </div>
        <div class="input-field col s12">
          <label class="active">Subject description:</label>
          <%= form.text_field :description, id: :subject_description %>
        </div>
      </div>  
    </div>
    <div class="card-action">
      <div class="progress" id="progress">
        <div class="indeterminate"></div>
      </div>
      <%= form.submit class:"btn green waves-effect waves-blue" , data: { disable_with: "Updating subject .." } , id: "btn-update" %>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#progress').hide();
    $('#btn-update').on('click', function() {
      $('#progress').slideDown();
    });
  });
</script>
